[2017-05-05 04:45] kingsleyuk2003 opened #1 "Generates the Error: TypeError: int() argument must be a string or a number, not 'NewId'"
Hi;
Thanks for the module on dms. However during testing, i discovered the following error, when trying to add a file in a directory.
![selection_004](https://cloud.githubusercontent.com/assets/1262044/25733942/127932ae-3156-11e7-89b4-eddc97fee087.png)

[2017-05-05 04:47] kingsleyuk2003 commented on #1
Also, update your documentation to allow inform users install the python mammoth library, using: sudo pip install mammoth

[2017-05-06 10:35] keshrath commented on #1
Thx for the feedback! It should work now properly.

[2017-05-06 10:35] #1 closed

[2017-06-09 08:52] JordyRitzen opened #2 "Requirement not in requirements"
I tried to install and run your dms modules.
I installed the dependencies. However it still won't run.

It needed a `pip install statsmodels` too

[2017-06-09 13:40] keshrath commented on #2
thx for the information.
statsmodels was used in an older version und should not be required anymore.
I removed the import, which was causing the problem. Now it should work without statsmodels.

[2017-06-09 13:41] #2 closed

[2017-06-12 10:04] JordyRitzen opened #3 "[Question] file model"
Is there a reason for creating a new model from scratch for files instead of extending the default ir.attachment?

[2017-06-12 11:00] keshrath commented on #3
Hi,
I am currently working on an integration of the ir.attachments. So there will be an extension soon. :)

[2017-06-12 11:27] JordyRitzen commented on #3
Hi,
Thanks for your quick reply!

[2017-06-16 20:34] jaol007 opened #4 "special characters in files or folders"
In the version for odoo 9, you can not create files or folders with special characters, such as ñ, á, é, í, ó, ú.
Which are widely used in the Spanish language

Attempting to create a file or folder shows the following error

`Odoo Server Error

Traceback (most recent call last):
  File "D:\Odoo\odoo\odoo9\openerp\http.py", line 648, in _handle_exception
    return super(JsonRequest, self)._handle

[2017-06-18 21:20] keshrath commented on #4
Hi,
unfortunately as right now the module only supports the basic ascii symbols. Hopefully I will be able to fix this soon :)

VALID_NAME_CHARS = "-_.() %s%s" % (string.letters, string.digits)

[2017-06-23 02:08] ryuaka opened #5 "How to install mammoth in windows"
Hi, I'm trying to install Muk_dms, but it shows me this error: No module named mammoth. I know that mammoth is required but I really don't know how to install mammoth on windows system. Can you tell me if there a module or any other way to install it?

[2017-06-23 09:40] keshrath commented on #5
Hi, mammoth can be installed via pip like any other python library.

pip install mammoth

![image](https://user-images.githubusercontent.com/4851083/27476341-b03021fa-5808-11e7-91c9-dc334cfca493.png)

[2017-06-23 09:40] #5 closed

[2017-06-25 22:37] jesdazrez opened #6 "Loading files not working on Firefox"
The way you propose to use your module in the README file does not work on Firefox. Also, it appears that the text inputs are unaligned.
Chromium requires two clicks to open the file dialog.

Is it possible to place the preview widget in a form view?

Greetings.

[2017-06-25 22:39] AfroMonkey commented on #6
In Chromium the inputs are alligned. But I have the same problems here.

[2017-06-28 15:20] keshrath commented on #6
Hi, I updated the project. It should work now in Firefox too.

[2017-07-05 06:54] PanarinM opened #7 "Could not find client action 'muk_dms.tree_view'."
After clean install on odoo 9.0 i get this Action Error: Could not find client action 'muk_dms.tree_view'.
When pressing 'Document Tree' in the menu

[2017-07-05 07:07] PanarinM commented on #7
It magically started to work, nvm

[2017-07-05 07:07] #7 closed

[2017-07-12 12:11] palikollar opened #8 "After adding muk_dms_access to my odoo/addons folders the Odoo website breaks..."
I can't even get to the settings or install apps because it displays the web page like this:
![image](https://user-images.githubusercontent.com/23060960/28117002-dbab9118-670b-11e7-855a-7232d56f4dc6.png)

[2017-07-12 12:14] keshrath commented on #8
Hi, please check your odoo and browser logs. Without more information im afraid I wont be able to help you.

[2017-07-12 12:29] rizzopablo opened #9 "error on security xml installing muk_dms_access"
I get this error trying to install dms_access:

Exception: Module loading muk_dms_access failed: file muk_dms_access/security/ir.model.access.csv could not be processed:
 No matching record found for external id 'model_muk_dms_access.groups' in field 'Object'
el valor null para la columna \xabmodel_id\xbb viola la restricci\xf3n not null
DETAIL:  La fila que falla contiene (209, null, t, muk_dms_a

[2017-07-12 12:49] palikollar commented on #8
The server log said it couldn't find pandas package, so after installing it and restarting Odoo and PostgreSQL it works fine.
Thanks

[2017-07-12 12:55] #8 closed

[2017-07-13 08:47] #6 closed

[2017-07-13 13:09] palikollar opened #10 "Access Right"
If you have a user group (Documents / User) obviously it has access rights.

How can you connect the user group in the access control panel? I saw the option for it but it doesn't show or connect with the previously created (Document / User ) group.
I would like to give this group permissions to Read,  Write, Create or Delete some directories.

[2017-07-14 12:35] palikollar commented on #10
#1 I have added access rights to a group Documents / User

![access_rights_user](https://user-images.githubusercontent.com/23060960/28212109-33e8d04e-68a0-11e7-8fa4-297cb9b41b68.PNG)

#2 This is the specific user in the group
![users_user](https://user-images.githubusercontent.com/23060960/28212147-54044f70-68a0-11e7-9742-a2b4c4e4cc61.PNG)

#3 I have created an access control
![it_access](https://

[2017-07-15 09:19] keshrath commented on #10
Hi, the reason is that the manager has no access control, so he can see everything regardless of his access rights. To set the access for groups you have to create a new "muk_dms_access.groups" group.

[2017-07-20 14:44] #10 closed

[2017-07-24 10:00] VincentSurelle opened #12 "Error: QWeb2: Template 'DMSTreeView' not found"
Hi,

I'm trying to install Muk DMS on my Odoo instance but once installed it throw me an error `Error: QWeb2: Template 'DMSTreeView' not found` when I click on `Documents` tab. The only way to get out is to close my browser tab.

To install it I cloned the git repo into my addons folder

[code]

And then I went to Oddo application's to install it.

I'm using `odoo:10` docker image. And I installed

[2017-07-24 14:11] sherpya opened #13 "NameError: global name 'AccessError' is not defined"
Missing import in muk_dms/models/muk_dms_root.p:

[code]

[2017-07-24 14:15] keshrath commented on #13
Hi, are you using Odoo 9 or 10?

[2017-07-24 14:51] sherpya commented on #13
10

[2017-07-24 14:52] sherpya commented on #13
it happens if a file is locked and you try to change storage from database to filesystem

[2017-07-27 10:48] MakMas opened #15 "Error: QWeb2: Template 'DMSTreeView' not found"
Hello,

I have a same problem with model Muk DMS on my Odoo 10. When I try use this module it throw me an error Error: QWeb2: Template 'DMSTreeView' not found when I click on Documents tab. The only way to get out is to close or refresh my browser tab.

Can same one help me?

[2017-07-27 16:59] rizzopablo commented on #12
Same here

[2017-07-31 09:15] IBAMS opened #16 "mammoth external dependency is not met (odoo)"
I try to install  "muK dms" but requires a module "mammoth". I installed  mammoth in cmd.exe with C:\python36\python -m pip install mammoth.
Answer:
Requirement already satisfied: mammoth in c:\python36\lib\site-packages
Requirement already satisfied: cobble<0.2,>=0.1.2 in c:\python36\lib\site-packages (from mammoth)

But I got the same answer from odoo:
Unable to install module "muk_dms" because

[2017-08-01 11:24] bnjroos commented on #12
Same here, any fix ?

[2017-08-01 17:45] MuKGexi commented on #16
have you tried installing it by writing pip install mammoth into your command line?

[2017-08-01 18:07] IBAMS commented on #16
Yes I did it, but it did not work with pip only. with  'C:\python36\python -m pip install mammoth' into the command line it was successfully installed. A new type I got the Answer:

Requirement already satisfied: mammoth in c:\python36\lib\site-packages
Requirement already satisfied: cobble<0.2,>=0.1.2 in c:\python36\lib\site-packages (from mammoth)

it seems to be installed correctly.

[2017-08-01 19:24] keshrath commented on #16
Could it be that you have python 3 installed aswell? It looks like you installed mammoth into your python 3 directory. Odoo is runing with python 2 so make sure to install it on python 2.

[2017-08-01 19:27] keshrath commented on #12
Can you give me more Infos :) please try it in debug mode (debug=assets) and check your browser console and your Odoo logs

[2017-08-02 09:24] IBAMS commented on #16
Thanks, that was the problem I had Python 3.6 installed. Now it works.

[2017-08-02 09:24] #16 closed

[2017-08-02 12:01] keshrath commented on #15
#12

[2017-08-02 12:01] #15 closed

[2017-08-04 12:31] RomanRcT commented on #4
Hello, I found this solution. Maybe this will helpfull.

`
def s3_filename(filename):

    #Convert a string into a valid filename on all OS
    #http://stackoverflow.com/questions/295135/turn-a-string-into-a-valid-filename-in-python/698714#698714

    import string
    import unicodedata

    validFilenameChars = "-_.() %s%s" % (string.ascii_letters, string.digits)

    filename = unicode(filenam

[2017-08-17 13:49] crsilveira commented on #12
Error: QWeb2: Template 'DMSTreeView' not found

Action Error: Could not find client action muk_dms.tree_view

[2017-08-26 03:18] xwjh commented on #12
me too

[2017-08-26 18:48] davinci41 commented on #12
me too. please help

![image](https://user-images.githubusercontent.com/25403547/29744159-7f79db04-8a9f-11e7-9e77-5e1eb3b8a346.png)

[2017-09-05 09:44] douxiaoqiang opened #17 "Simple Chinese support"
when  I try to upload a file named in Chinese, then can't be upload. doesn't that mean this DMS can't not support CN file name?

[2017-09-06 02:00] erobotics opened #18 "Can't save general configuration"
Can't save general configuration
It always lead to the app store once click on the "apply" button
![image](https://user-images.githubusercontent.com/5175100/30091090-975ecbb0-9285-11e7-895f-92bc21848728.png)

[2017-09-06 18:12] erobotics opened #19 "The file structure needs to have a root node to create files."
Keep getting the error message "The file structure needs to have a root node to create files."

[2017-09-11 17:56] dceevp commented on #12
Same error.
On local VPS work well.
I install it on amazon EC2, then the plugin show the error (I hide the IP)

http://-------/web/content/251-bbdd526/web.assets_common.js:2908
Track error:
Error: QWeb2: Template 'DMSFieldPath' not found
   at QWeb2.tools.exception (http://------/web/content/251-bbdd526/web.assets_common.js:2908:1)
   at _render (http://------/web/content/251-bbdd526/web.assets_co

[2017-09-28 14:57] randriamiranto opened #20 "ms office preview it's not possible"
Hi Team,
Can you help me please, i would like to seee preview file ms office but i have :The file type is currently not supported!

for more info, i was installed muk preview ms office but i don't know why it's not OK

thx

[2017-10-04 04:05] bnjroos opened #21 "Connection lost while wanting to add new file"
Hi,

I have been able to add 5 documents but now whenever I want to check out or save I get a connection lost error and can't proceed forward. Any hint on that issue ?

Best regards,

Bnjroos

[2017-10-04 04:15] bnjroos commented on #21
It seems that the size of the file is a problem (800ko).
Console log:
Failed to load resource: the server responded with a status of 413 (Request Entity Too Large) /web/dataset/call_kw/muk_dms.file/create

[2017-10-04 18:42] keshrath commented on #21
How big is your file?

[2017-10-10 12:19] keshrath commented on #4
Hi, try the version 1.0.2! :)

[2017-10-10 12:20] keshrath commented on #12
Does this issue still exists in version 1.0.2?

[2017-10-10 12:20] keshrath commented on #17
Hi, try the version 1.0.2! :)

[2017-10-10 12:22] keshrath commented on #13
Hi, try the version 1.0.2! :)

[2017-10-10 12:23] keshrath commented on #19
Hi, try the version 1.0.2! :)

[2017-10-10 12:23] #19 closed

[2017-10-10 12:23] keshrath commented on #20
Hi, try the version 1.0.2! :)

[2017-10-10 12:23] #20 closed

[2017-10-10 13:26] #18 closed

[2017-10-11 08:47] bnjroos commented on #21
Around 800kb.

[2017-10-11 09:42] keshrath commented on #21
800kb should be fine, the limit is currently set to 25mb. It could be that your nginx or apache server is blocking the file.

[2017-10-11 19:23] #17 closed

[2017-10-11 19:23] #13 closed

[2017-10-11 19:23] #4 closed

[2017-10-11 19:23] #3 closed

[2017-10-11 19:23] #9 closed

[2017-10-11 20:36] dceevp commented on #12
hi, I will try this new version.

[2017-10-19 20:14] gsputro commented on #12
Hi @keshrath, I'm still facing this issue.
I download it from [here](https://www.odoo.com/apps/modules/10.0/muk_dms/)

When I unzip the module, it asked me to replace some other files on the other dependencies modules such as: MUK Preview, Web Client, Web Refresh. Should I choose Replace or not?

And could you please inform us what's the best option to install those dependencies which module shoul

[2017-10-20 00:22] #21 closed, assigned to nobody

[2017-10-21 09:28] keshrath commented on #12
https://github.com/muk-it/muk_web/archive/10.0.zip
https://github.com/muk-it/muk_dms/archive/10.0.zip

[2017-10-21 09:31] keshrath commented on #12
![image](https://user-images.githubusercontent.com/4851083/31850511-63c8ca70-b653-11e7-9da6-e3b3aae4d750.png)

[2017-10-21 09:32] keshrath commented on #12
Hi,
can you please send me your error log with debug=assets :)

[2017-10-26 05:57] j-l-santiago opened #22 "Using the module in the WebSite"
I can not find documentation on how to use the module on the WebSite. I would like that the authentified users can acces to several Download and preview directories and to search files.

Is there something similar build in in the module?

Should I develop a extension to do that?

[2017-10-28 11:43] diwap opened #23 "Need to reload everytime directory and files are added"
When we add files or create directory, we won't be able to see them in the main view. However if we reload odoo, we will be able to see them.

[2017-10-28 11:47] Kerrim- commented on #23
Hi,

we have a module that should fix this issue. [1]

Regards,
Kerrim Abd El-Hamed
MuK IT

[1] https://github.com/muk-it/muk_web/tree/11.0/muk_web_client_refresh

[2017-10-28 11:54] keshrath commented on #23
Thx for the info i will look into it

[2017-10-28 17:18] davinci41 commented on #12
I installed the latest version and when it comes into the module such something appears.

Is there any installation guide?

![image](https://user-images.githubusercontent.com/25403547/32136772-2ec62892-bc14-11e7-8fbd-d07902b38237.png)

[2017-10-28 23:20] keshrath commented on #12
Hi i can't say much without an error log. Please look at my posts above.

[2017-10-28 23:27] keshrath commented on #22
Do you mean as a portal user?

[2017-10-29 02:52] j-l-santiago commented on #22
Yes, I mean as a portal user

[2017-10-29 03:07] gsputro commented on #12
Hi @keshrath,

Thanks for your feedback, Please find attached in the link below is the screenshot of the 'debug' mode.
http://take.ms/D6gDK

I've solved this by chown -R odoo:odoo for all files underneath your addons modules and then restart the Odoo service.

But, I found another issue.
The file preview didn't work. I couldn't see the 'preview' symbol to the Attachment button on the 'Project' for

[2017-10-29 08:55] keshrath commented on #12
https://github.com/muk-it/muk_web/tree/11.0/muk_web_preview_attachment

[2017-10-29 08:55] keshrath commented on #12
Have you installed this app?

[2017-10-29 16:54] davinci41 commented on #12
@keshrath I restarted the odoo and it is ok

[2017-10-29 19:47] davinci41 opened #24 "added documents in tasks"
Gdzie trafiaja dokumenty dodane w zadaniach.
Dodaję dokument w zadaniach ale w dokumentach go nie widać, trzeba to ustawić?

![image](https://user-images.githubusercontent.com/25403547/32147570-f256d97a-bce9-11e7-88a7-f5ea62274fc2.png)

![image](https://user-images.githubusercontent.com/25403547/32147572-01ce47b2-bcea-11e7-9382-0bfea8983271.png)

[2017-10-30 00:53] #12 closed

[2017-10-30 01:01] keshrath commented on #22
right now there is no website module for the dms, so you would need to implement it yourself.

[2017-10-30 01:02] #22 closed, assigned to nobody

[2017-10-30 01:29] keshrath commented on #23
![image](https://user-images.githubusercontent.com/4851083/32151062-1ab66590-bd1a-11e7-98ea-b57f3390b6c3.png)

[2017-10-30 01:29] keshrath commented on #23
does your longpolling work? cause i tested it and it works on the test system just fine.

[2017-10-30 01:37] keshrath commented on #24
As far as google translate was able to do the job I guess I understand what you are trying to do^^

When you are adding an Attachment to your project the DMS doesn't know about it cause it is an Attachment and not a File. I will publish a module, which will create Files from Attachments, but it will take a while.

[2017-10-30 01:37] #24 closed, assigned to nobody

[2017-10-30 01:38] #23 closed, assigned to nobody

[2017-10-30 09:27] gsputro commented on #12
@keshrath - I have installed that app. Please find attached in this link below is the app and add-on that have been installed in our Odoo instance.
http://take.ms/dqvyc

Thanks
-gs

[2017-10-30 10:14] keshrath commented on #12
Looks to me like you are missing the app. See the link above.

[2017-10-31 17:16] gsputro commented on #12
@keshrath Sorry, I didn't notice that was a different app. With "File Preview Dialog" app. Thank you. All good and solved now.

[2017-11-02 19:54] LuisFcoOrtiz commented on #12
Restarting the odoo server I can fixed the error [/etc/init.d/odoo restart] (in linux)

[2017-11-09 19:53] satriani-vai opened #25 "Uncaught TypeError: this.$el.find(...).split is not a function"
![bildschirmfoto vom 2017-11-09 20-52-52](https://user-images.githubusercontent.com/5981417/32626752-7c88dfb8-c590-11e7-9746-9d7e26b8fc88.png)

[2017-11-10 16:26] satriani-vai commented on #25
Maybe this is related to the new Postgresql version 10

[2017-11-15 18:44] Kerrim- commented on #25
Hi, can you please provide some more information? Like what where you doing before this dialog appeared?

[2017-11-16 01:03] satriani-vai commented on #25
Just installed this module
I got some more error messages

Could not get content for /muk_dms/static/lib/jsTree/themes/default/style.css defined in bundle 'web.assets_backend'.

[2017-11-24 18:38] diwap commented on #23
yes longpolling is working in same interval of time.

[2017-12-14 10:45] satriani-vai opened #26 "[11.0] Setting can't be applied"
The settings cannot be applied.
After saving the settings, all checkboxes are not checked again.
Unfortunately, the error is not traceable in the logs.

[2017-12-14 11:11] keshrath commented on #26
![image](https://user-images.githubusercontent.com/4851083/33989366-883daf76-e0c7-11e7-86b8-9c7a38c8a7f3.png)

Checking these settings will try to install some extra modules like muk_dms_access, but they are not ported to version 11 jet.

The version 11 Documents is still in its beta version, so it will take a few more days to port the rest of the modules.

[2017-12-14 11:33] satriani-vai commented on #26
Alright, we will wait. Thanks for your effort.

[2017-12-16 03:14] #26 closed, assigned to nobody

[2017-12-19 00:44] keshrath commented on #25
could it be that odoo has no right to read the folder? (/muk_dms/static/)

[2017-12-19 10:30] #25 closed, assigned to nobody

[2018-01-02 22:21] satriani-vai opened #27 "[11.0] Error when updating muk_dms"
[code]

[2018-01-02 22:34] keshrath commented on #27
If the migration didn't run automatically run the SQL file in your DB manually.

[2018-01-02 22:34] #27 closed, assigned to nobody

[2018-01-07 21:34] satriani-vai opened #28 "[11.0] Deleted file still exist in the filesystem after deleting"
After deleting the file from dms by right-clicking with the mouse and deleting, this file is not visible in dms, but it still exists in the file system. So not really deleted.

[2018-01-07 21:50] satriani-vai opened #29 "[11.0] Wrong option in the context menu"
If you click on the directory with the right mouse button, you can create the new directory or file.
If you select the file, you will still be able to create the new directory.

[2018-01-07 21:59] satriani-vai opened #30 "[11.0] Invisible text when renaming a directory or file"
If you right-click the directory or file to rename it, the text is not visible. The font color is white on the white background.

[2018-01-08 06:40] zlrj opened #31 "access"
the access is unavailable.

[2018-01-08 12:19] keshrath commented on #31
Hello, can you please give me more information. Otherwise I can't really help you!

[2018-01-08 12:43] keshrath commented on #29
Thx for your feedback! (1d0715d5f626bebc05e36394b9f4339d20e31a68)

[2018-01-08 12:43] keshrath commented on #30
Thx for your feedback! (1d0715d5f626bebc05e36394b9f4339d20e31a68)

[2018-01-08 13:01] keshrath commented on #28
Thx for your feedback! (c25927865215d94c471613d49b1e30d67fe31859)

[2018-01-08 15:49] #28 closed, assigned to nobody

[2018-01-08 15:49] #29 closed, assigned to nobody

[2018-01-08 15:49] #30 closed, assigned to nobody

[2018-01-08 22:38] #31 closed, assigned to nobody

[2018-01-18 12:57] karlis-dreizis opened #33 "v11 creating a new file or directory throws error"
[code]
Issue encountered with
demo user *documents manager* role and added to Manager Group (All Rights).

No problem creating files with an admin (superuser).

[2018-01-21 16:32] maiolif opened #34 "DMS settings are not saved"
In odoo 11 with mammoth, modify and save settings process is ok, no error also from terminal, but after save settings are all as before.

[2018-01-26 09:00] keshrath commented on #34
can you give me more information: which setting? as admin or as an other user?

[2018-01-26 11:30] #33 closed, assigned to nobody

[2018-01-26 14:11] maiolif commented on #34
Document -> Settings -> General Settings (i.e. Finder flag). Doing is as Administrator in a test environment. In the screenshot attached, i.e. the Finder flag was TRUE before saving
![screenshot at 2018-01-26 15 10 43](https://user-images.githubusercontent.com/10357943/35443362-1a6d6c42-02ab-11e8-9b2b-e239097ac0b4.png)

[2018-01-26 15:20] keshrath commented on #34
All settings listed as extensions are apps. You need to have dem available on your system. Note: Finder is currently not available on the Odoo store.

[2018-01-26 15:34] #34 closed, assigned to nobody

[2018-01-27 05:07] satriani-vai opened #35 "[11.0] NameError: name 'LObjectIrAttachment' is not defined in muk_dms_attachment"
https://github.com/muk-it/muk_dms/commit/451100f2adc47da352732a48df6acd2ab14af059#r27144950

[2018-01-27 12:57] keshrath commented on #35
7849969e60ef820de5287a6bdb4f7406517a9fdf

[2018-01-27 12:58] keshrath commented on #35
Thx :)

[2018-01-27 12:58] #35 closed, assigned to nobody

[2018-01-27 21:13] satriani-vai opened #36 "After deleting a file, the information still remains unchanged"
![image](https://user-images.githubusercontent.com/5981417/35476342-a6bda500-03ae-11e8-9480-4443e0cf1d9f.png)

PS: Kann man muk_web_views_list_switch irgendwo testen? :smiley:

[2018-01-28 18:33] keshrath commented on #36
956f70d9a4519a550b2e6542b76d3eaf23d13e23

Leider ist es im Moment noch nicht möglich nur einzelne TreeNodes neu zu laden.

PS: Leider haben wir im Moment noch kein öffentliches Demo System.

[2018-01-28 20:47] satriani-vai commented on #36
Zu früh geschlossen. Bei mir bleibt die Größe weiterhin unverändert :roll_eyes:

[2018-01-28 22:34] keshrath commented on #36
Wird der View nach dem löschen automatisch neu geladen?

[2018-01-29 08:55] satriani-vai commented on #36
Ja, sieht so aus. Hast du es selbst getestet?

[2018-01-29 12:14] keshrath commented on #36
![image](https://user-images.githubusercontent.com/4851083/35509922-603a5940-04f6-11e8-91e6-a3fd97de4edb.png)

[2018-01-29 12:15] keshrath commented on #36
![ezgif-4-eab9e11621](https://user-images.githubusercontent.com/4851083/35509957-7a1e229c-04f6-11e8-84d2-5b160197d856.gif)

[2018-01-29 12:58] satriani-vai commented on #36
Merkwürdig..
Ich habe es nochmal getestet, mit dem gleichen Ergebnis

![402f24f288](https://user-images.githubusercontent.com/5981417/35511490-6af1e6ae-04fc-11e8-9764-d196f4249855.gif)

[2018-01-31 14:42] satriani-vai commented on #36
Ich weiß nicht ob es mit den letzten commits 18c4b79 und 50acde3 zutun hat, aber es funktioniert jetzt.
Vielleicht gab es ein Abhängigkeitsproblem. Wie auch immer, Hauptsache es funktioniert :+1:

[2018-01-31 14:42] #36 closed, assigned to nobody

[2018-03-10 22:43] rafasoyyo opened #37 "Help!"
I get this error after install [MuK Documents](https://www.odoo.com/apps/modules/11.0/muk_dms/)
[code]

Help please!

[2018-03-11 09:43] keshrath commented on #37
The problem seems to be with muk_web_client_refresh. Try to update the module and check if the model muk_web_client_refresh_rule is available in your system.

[2018-03-12 08:43] rafasoyyo commented on #37
I am having more issues with your modules but I am not a python expert so I am going to try to fix them by myself before ask.
Thanks for your quick response

[2018-03-12 08:59] #37 closed, assigned to nobody

[2018-03-12 09:01] keshrath commented on #37
Hi, if you need more help just ask :) and in case you find a bug feedback is allways welcome^^

[2018-03-12 20:24] nek-v opened #38 "Need transifex"
Hello.
Could you connect your project to the [transifex](http://transifex.com/) for easy translation into other languages?

[2018-03-12 21:25] keshrath commented on #38
Hello, that would be great, but since transifex is quite expensive we do not have any plans to do that yet.

[2018-03-13 15:04] niulinlnc commented on #36
@satriani-vai  @@keshrath
If I use the mouse to drag a file from one folder to another, the size of the folder is still not updated.

[2018-03-17 14:17] nek-v commented on #38
You can attach your project to the [OCA](https://github.com/OCA), then the community can help you with the translation.

[2018-03-25 23:33] Hamza-MESRAR commented on #12
I had the same problem but I found the solution must be changed the privilege like chmod 777 /folder and chown odoo:odoo /folder

[2018-03-26 15:27] LuisFcoOrtiz commented on #12
How @Hamza-MESRAR says, it's also true!

[2018-04-10 17:38] Pereiral01 opened #39 "ERROR to INTALL MUK_DMS"
Hello, I just install a new ODOO 11 (UBUNTU 16 CLOUD SERVER).

Installed basis Odoo app (CRM, LEAVES, CONTACTS,...) and download MUK_DMS, add it to ADDONS.

Then by COMANDS:
Service odoo-server stop
service postgresql restart
service odoo-server start

 and go to ODDO APPs > UPLOAD new APP> Choose MUK_DMS >INSTALL and this error:

Error:
Odoo Server Error

Traceback (most recent call last):
  File

[2018-04-10 17:52] munruf commented on #39
Hi. Just chrk your odoo user permission on the addons folder

вт, 10 апр. 2018 г., 20:38 Pereiral01 <notifications@github.com>:

[2018-04-10 18:20] Pereiral01 commented on #39
Many thanks ... I restarted server machines and WORK for me!

Thanks for your fasta reply!

[2018-04-11 00:00] Pereiral01 commented on #39
Hello Keshrath, open it again...
Before restart the server, i go to App Panel and choose DOCUMENTS.... but it didn’t open and show this error:

“Could not find client action: “muk_dms_views.documents”

I view there is a new version (35) > download> upload to addons> and restart server: Odoo broken (Internal error)

So, copy again to ADDONS the last version (34), restart server and now: BLANK PAGE.

[2018-04-11 03:41] munruf commented on #39
1. Tray to install module again.
If it will not help.
Uninstall and reinstall module.
If not solve solution folow previouse  soggestion swithch back to last
working version

ср, 11 апр. 2018 г., 3:00 Pereiral01 <notifications@github.com>:

[2018-04-11 05:04] keshrath commented on #39
Hello .)
If it still doesn't work, please send me some log information.
Browserlog with debug=assets and the Odoo log would be great.
Are you using version 10 or 11?

[2018-04-11 10:31] Pereiral01 commented on #39
Hello Keshrath,
I´m a rookie ... How I can show Browserlog with debug=assets, please?
Many thanks

[2018-04-11 13:24] keshrath commented on #39
You need to write it into the URL for example: /web?debug=assets

[2018-04-11 13:25] keshrath commented on #39
Have you restarted the server after the module installation?

[2018-04-11 16:02] Pereiral01 commented on #39
Hello, yes I restarted it. I'm working with ODOO 11 (UBUNTU 16).

When I use DEBUG with ASSETS, I saw this:

![abr-11-2018 17-53-30](https://user-images.githubusercontent.com/38085740/38628797-886c5608-3db2-11e8-9298-f18b8f91c2b1.gif)

![abr-11-2018 13-17-59](https://user-images.githubusercontent.com/38085740/38627886-4b6704a8-3db0-11e8-9bd0-7a7415390512.gif)

[2018-04-11 16:14] keshrath commented on #39
Unfortunately I can't see anything on your pictures, because the resolution is too low.

[2018-04-16 11:59] gassganso opened #40 "Add fields to documents"
Hi,
I've been looking for the way to add extra fields or info to documents. Things like keywords, short descriptions or categories. File names are not enough for me to filter or find a document.
Is that possible to do this with muk_dms?

Thank you very much for your product.
gassganso.
(sorry if this is not the place for these questions)

[2018-04-16 17:07] keshrath commented on #40
Hello,
in short, yes, but it depends on your programming skills. You could add a module and extend the model "muk_dms.file" according to your wishes. If you are using Odoo EE it should also be possible to add simple fields using the Studio app. Alternatively, I can suggest that you send us (sales@mukit.at) a feature request and we will be happy to send you an offer.
Regards
Mathias

[2018-04-16 17:07] #40 closed, assigned to nobody

[2018-04-18 19:59] Pereiral01 commented on #39
Finally, It works. I did this:

- UNINSTALLL MUK_DMS
- Upload again MUK_DMS
- Before to re-install MUK_DMS, I UPDATE MUK_UTILS & MUK_WEB
- INSTALL MUK_DMS
- RESTART SERVER

It works ..... but now I have. little Problem ....

When I logged with a **USER account** and try to upload a File it give me a ERROR. It says:

Error:
Odoo Server Error

Traceback (most recent call last):
  File "/odoo/odoo-se

[2018-04-18 23:26] keshrath commented on #39
Do you have installed muk_dms_access as well? Which rights does this user have?

[2018-04-19 12:06] Pereiral01 commented on #39
Keshrath ... solved.

I´m a dummy ... the problem was the user hasn't rights for any directory. ... very simple, but I forget it! . Apologies.

Could you help in the last question, please?: Does this module create a NEW DATABASE (only for files) or save the FILES in  Odoo´s DATABASE?
How can BACKUP only Document´s DATABASE?

Many thanks!

[2018-04-19 12:48] satriani-vai opened #41 "bug in muk_dms_attachment"
https://github.com/muk-it/muk_dms/commit/60f94ae23599bc621ed1e5095e8f117b1401c04a#diff-c35fb88e4224c19079d9ca14d78818ad

[code]

[2018-04-19 12:50] Pereiral01 commented on #39
and Could I UPLOAD massive files in one time?
Many thanks

[2018-04-19 15:45] Pereiral01 opened #42 "ERROR_MuK Documents Attachment Wizard"
Hello,
I bought MuK Documents Attachment Wizard, downloaded and Install (after MUK_DOCUMENTS), and when go to UPLOAD a new file in DOCUMENTS it give me a error.

If I uninstall MuK Documents Attachment Wizard, and go to UPLOAD a new file in DOCUMENTS it works fine, so I suppose its any problem with this APP.

Could you help me, please?

![abr-19-2018 17-41-30](https://user-images.githubusercontent

[2018-04-19 16:00] keshrath commented on #39
So where the files will be saved to will depend on the setting in the settings. In the core module muk_dms the data is stored in the database and can be backed up directly with Odoo. You can also have a look at the modules muk_dms_file (Filestore) and muk_dms_lobject (DB LObjects) for more possibilities.

[2018-04-19 16:01] keshrath commented on #39
In the Document View you can load files and entire folders directly into the system using drag and drop. The amount of data is limited by Odoo in amount and time of the request.

[2018-04-19 16:01] #39 closed, assigned to nobody

[2018-04-19 16:03] keshrath commented on #41
Make sure you have the current version of muk_dms and muk_dms_attachment. In case that doesn't solve your problem. When exactly does it occur?

[2018-04-19 16:07] keshrath commented on #42
Make sure you have the latest version of muk_dms and muk_dms_attachment installed. You may need to update the app and restart the server. If the error still exists, I will gladly forward your error to our support team.

[2018-04-19 16:27] Pereiral01 commented on #42
Checked I have Installed:
muk_dms 11.0.1.3.5
muk_dms_attachment 11.0.1.1.2

muk_dms_attachment_wizard 11.0.1.0.0

Server restart ... and the same error.

[2018-04-19 17:51] keshrath commented on #42
AttributeError: 'muk_dms.file' object has no attribute 'attachments'

The error means that the attachments field does not exist. Either it didn't update the database correctly or we didn't increase the version of muk_attachment properly and you don't have the latest version.

Can you check if your local code is the same as on Github (https://github.com/muk-it/muk_dms/blob/11.0/muk_dms_attachment/m

[2018-04-19 18:40] Pereiral01 commented on #42
I checked the code and Uploaded the module to version

I tried:

- UPDATE directly and it gives a ERROR.
- UNINSTALL, RESTART SERVER and INSTALL AGAIN and it Works.

Many Thanks

[2018-04-19 18:44] #42 closed, assigned to nobody

[2018-04-20 09:13] satriani-vai commented on #41
Ich habe alle Module aus einem Paket (muk_dms_attachment-11.0.1.2.2.zip) ausgepackt.
Ich gehe davon aus, dass man dabei die richtige Versioning beachtet :)

[2018-04-20 09:52] keshrath commented on #41
Das Feld attachment_location sollte sich in res_config befinden:
https://github.com/muk-it/muk_dms/blob/11.0/muk_dms_attachment/models/res_config.py

Prüfe ob dein Code dem von Github entspricht und ob das Feld in der Datenbank existiert. Es kann sein dass du den Server neu starten musst nachdem sich der Python Code geändert hat.

[2018-04-20 17:22] satriani-vai commented on #41
Habe alle Module aus dem muk_dms_attachment-11.0.1.2.2.zip ausgepackt bzw ersetzt, nun kommt es zum

[code]
Logausschnitt
[code]

[2018-04-20 18:38] keshrath commented on #41
Offenbar hat Odoo deine Datenbank nicht angepasst:
`column ir_attachment.is_document does not exist`
Kannst versuchen den Server neu zu starten und anschließend die Module abzudaten. Falls das nichts hilft müsstest du es händisch in der Datenbank ändern oder für den Fall das es sich um eine Testdatenbank handelt die Datenbank neu erstellen.

[2018-05-11 12:47] Pereiral01 commented on #39
Hi Mathias,
Could you answer me one question, please? I´m very happy with MUK DOCUMENTS.
Are there any field, o module, to include a COMMENT field for each file? the idea is writte soame word about specs of each file.
Many thanks
Raul

[2018-05-12 19:37] keshrath commented on #39
Hello, Raul,
thank you for your positive feedback. We have a module which will extend the DMS by a better indexing a search and in this course possibly also a comment field in planning. However, at the moment we are quite involved in other projects, so it is very difficult for me to give you a schedule. However, if you have any special requirements I can offer you to contact sale@mukit.at and we c

[2018-05-13 08:19] #41 closed, assigned to nobody

[2018-05-18 16:28] #38 closed, assigned to nobody

[2018-05-24 07:01] batzaya opened #45 "Can't creating unicode text Directory or File"
i try create on directory for name : "Дүрэм"

then i clicked save button showing this error:
"Error while validating constraint
123
The filename, directory name, or volume label syntax is incorrect"

[2018-05-24 18:52] keshrath commented on #45
What version of Odoo are you using?

[2018-05-27 17:03] #45 closed, assigned to nobody

[2018-06-28 07:29] Senudo-Smith opened #47 "Error after installation"
After i installed the module and restarting odoo server, i get this error
![capture](https://user-images.githubusercontent.com/40515849/42019525-46c91c08-7aad-11e8-962c-3e3d3b4b93c0.PNG)

[2018-06-28 09:11] keshrath commented on #47
Please restart the server and update the app. If this does not fix the bug, please switch to debug mode (?debug=assets) and look into the browser console to see the bug report and send it to me.

[2018-06-28 10:12] Senudo-Smith commented on #47
the error comes up after the module is uploaded, not after an update. It doesn't get to the update section to update the module before the error prompts

[2018-06-28 10:19] keshrath commented on #47
Even after a server restart? Which version of Odoo is used?

[2018-06-28 10:42] Senudo-Smith commented on #47
Yes, after server restart. I'm using Odoo 8

[2018-06-28 10:52] keshrath commented on #47
The DMS was backportet by EL HARTI Mohamed charif <mohamed.charif.harti@gmail.com>, because I currently have no running version of odoo 8 I would ask you to contact Mohamed directly.

[2018-06-28 10:52] #47 closed, assigned to nobody

[2018-07-10 17:17] Bilbonet opened #49 "[10.0] - Index Files"
Hello.
In configuration is checked the option to index files, but I see in the DB that this field is always null, there is nothing.
The searches by this field obviously don't work.

[2018-07-10 18:30] keshrath commented on #49
The DMS only implements a very simple indexing of files. Only Text Files can be indexed. With the latest version this feature has been removed. We are currently working on a new module which will search and is much more powerful in indexing files.

[code]

[2018-07-11 11:31] #49 closed, assigned to nobody

[2018-07-12 14:07] SalahAdDin opened #50 "Clear documentation"
I have some question about this system:
What is the logic behind the documents?
What does setting mean?
If i want to use a file system, what must i to put in the `path setting`?

I like this module, it is very professional, good icon and good aesthetic, thank you very much.

[2018-07-12 14:13] keshrath commented on #50
I don't really understand your first two questions. To your 3rd question: You must specify the location in your system where the Filestore should be created. Make sure Odoo has enough rights there.

[2018-07-12 14:36] SalahAdDin commented on #50
Can we use external file storage services?

Yes, why must we create a setting before. What does it mean?

[2018-07-12 14:42] keshrath commented on #50
We are working on modules that allow the connection to services like Amazon S3. At the moment there are only 3 storage types (DB Blob, DB Large Obejct, Filestore)

The reason for this is that it opens up more possibilities to control different types of documents. For example, you might have a Settings object in which all attachments are stored and then want to save them on a different location or

[2018-07-13 10:28] #50 closed, assigned to nobody

[2018-07-13 11:38] SalahAdDin commented on #50
@keshrath I know there is other pay modules that enables storage services.

Ok, more or less i understand the aim for this setup. Thank you.

[2018-07-18 09:59] satriani-vai opened #51 "muk_dms_access can not be installed"
[code]

[2018-07-18 22:27] keshrath commented on #51
Also ich habe es bis dato nicht geschafft dieses Fehler zu reproduzieren. Auch auf unserem Demo Server sind die neuen Versionen installiert. Hast du bereits gecheckt, ob du die neuersten Versionen aller Dependencies hast und anschließende den Server restartet vor dem Update.

[2018-07-18 23:08] satriani-vai commented on #51
Ich habe extra alles aus dem github geholt.
Anschließend den Server neugestartet, doch leider mit gleichem Ergebnis.

[2018-07-19 08:50] moblesmarti commented on #51
Error:
Odoo Server Error

Traceback (most recent call last):
  File "/opt/odoo/odoo/models.py", line 1033, in _validate_fields
    check(self)
  File "/opt/odoo/odoo/addons/base/ir/ir_ui_view.py", line 335, in _check_xml
    self.postprocess_and_fields(view.model, view_doc, view.id)
  File "/opt/odoo/odoo/addons/base/ir/ir_ui_view.py", line 1042, in postprocess_and_fields
    self.raise_view_error

[2018-07-19 08:52] moblesmarti commented on #51
![photo_2018-07-19_10-51-40](https://user-images.githubusercontent.com/12881456/42932123-c509ce92-8b41-11e8-91e7-4b3cd087d4de.jpg)

[2018-07-19 08:58] moblesmarti commented on #51
We have a problem, the new versions of the modules to update give us the error described.
Attached image in previous message.
From the local and remote version we get the same version, but we can not update them.

[2018-07-19 14:42] keshrath commented on #51
It could be that the DMS modules are up-to-date but not the dependencies. With the 2.0 update, not only the DMS but also almost all dependencies have changed. Especially the modules MuK Utils and MuK Security. Are you testing the update on a fresh database or on an existing one? With an existing database it can happen that Odoo does not update the tables correctly and then the postgres database ha

[2018-07-28 10:15] satriani-vai opened #52 "Verzeichnis kann nicht erestellt werden"
`Datensatz existiert nicht oder kann nicht gefunden werden.`

Folgende Module sind installiert
muk_dms 11.0.2.1.4
muk_web_preview 11.0.2.1.2
muk_automation_extension 11.0.1.0.0
muk_web_client_refresh 11.0.2.1.2
muk_utils 11.0.1.0.12
muk_web_client 11.0.2.0.1
muk_security 11.0.1.1.0
muk_autovacuum 11.0.2.1.2
muk_web_utils 11.0.2.0.16
Server wurde neu gestertet

[2018-07-28 20:58] keshrath commented on #52
Hast du logs/traceback?

[2018-07-30 23:52] #52 closed, assigned to nobody

[2018-08-03 08:31] satriani-vai opened #53 "muk_thumbnails verursacht einen Fehler"
[code]

[2018-08-03 08:32] satriani-vai opened #54 "muk_dms_access kann nicht installiert werden"
[code]

[2018-08-03 09:05] jorsea opened #55 "When uploading large files (above 100M), browsers will crash."
![image](https://user-images.githubusercontent.com/9857984/43634679-612315f0-973f-11e8-916a-ffcff4843fa3.png)

odoo log :
OperationalError: cannot allocate memory for output buffer

[2018-08-03 15:14] keshrath commented on #53
Sieht so aus als wäre FFMPEG nicht installiert.
Du brauchst:
Unoconv
FFMPEG
Ghostscript
ImageMagick
Siehe: https://github.com/muk-it/muk_base/blob/11.0/muk_thumbnails/doc/index.rst

[2018-08-03 15:16] keshrath commented on #54
https://github.com/muk-it/muk_dms/issues/51

[2018-08-03 15:19] keshrath commented on #55
In which view did this occur?

[2018-08-10 10:52] moblesmarti commented on #51
I can not solve this error, has anyone succeeded?
Thank you!

[2018-08-10 11:48] #54 closed, assigned to nobody

[2018-08-10 11:49] keshrath commented on #51
Have your tried to add the field manually?

[2018-08-10 14:13] moblesmarti commented on #51
I will continue trying for now I can not solve it. Could another solution be to return to the previous version of the module?
Thank you!

[2018-08-10 15:17] Kerrim- commented on #51
Hi,

can someone who has this problem and can share his screen or similar write us an e-mail as we can't reproduce this bug. We would then post the answer.

email: office@mukit.at

Regards,
Kerrim

[2018-08-14 16:34] keshrath commented on #53
Closed since no further information has been provided.

[2018-08-14 16:34] #53 closed, assigned to nobody

[2018-08-15 21:30] keshrath commented on #51
A problem seems to exist if one or both obsolete modules muk_dms_connector and muk_dms_access_connector are inside the addons folder. These were discarded in the 2.0 rework and are no longer required. However, since these two modules were not adapted to the 2.0 versions this seems to lead to problems if they are still in the addon folder.

Please make sure that these modules have been removed acco

[2018-08-15 21:56] moblesmarti commented on #51
Effectively, this solves the error...
Thank you!! :))

[2018-08-16 06:17] #51 closed, assigned to nobody

[2018-09-03 13:01] Gelson15 commented on #12
I'm trying to install Muk DMS on my Odoo instance, but once installed, it throws me an error Error: ImportError: No module named 'models'

[2018-09-03 18:08] Hamza-MESRAR commented on #12
can you make screen about that?

Le lun 3 sept. 2018 14:01, Gelson <notifications@github.com> a écrit :

[2018-09-06 11:12] aitorbouzas opened #58 "[11.0] Open Documents with specific folder open"
Hi there,

First of all thank you very much for the marvelous free software you offered to the Odoo community. I'm creating an issue to ask a question:
Is there an easy way to create an action that opens de Document viewer with a specific folder opened? Any workaround we could do or something?

Thank you.

[2018-09-08 10:23] lukebranch opened #59 "[12.0] QUESTION: Any Roadmap for 12.0?"
Amazing contribution, thanks for keeping this open-source!

Do you have any roadmap for migration to Odoo 12.0 after it's released next month?

[2018-09-08 12:58] keshrath commented on #12
@Gelson15 Have you tried restarting your server? If not, try updating the module again and then restart the server. If this is not useful, I need more information (server and browser log with debug=assets)

[2018-09-08 13:12] keshrath commented on #58
So I see two possibilities that could work:

1) You can try to manipulate the domain to display only the desired folders. See also [1]

2) The `load` function can already get a node as argument. Then the `_loadInitialData` function shouldn't be called and `_loadNode` function is called directly. See also [2]

I haven't toyed with it myself yet, but will probably be working on something like this m

[2018-09-08 13:30] keshrath commented on #59
We wanted to wait until it was clear if Odoos own DMS is available for the community version or only for the enterprise version. In case it is available in the community version, we would have built our DMS on top of it.

Meanwhile it's already merged into the enterprise master and I think you can safely assume that it will only be released for this version with Odoo 12.

Since we want to make our

[2018-09-08 14:27] lukebranch commented on #59
Great news, thanks for the detailed reply!

In terms of feature wishlists/requests, i'd love to see version control, collaborative editing (this is incredibly tricky to achieve I know, but perhaps some form of integration with an existing suite like Collabora Online Development Edition?), and the possibility of creating actions within models (eg. sales.order) to automatically file documents create

[2018-09-08 22:25] keshrath commented on #59
A Verion control is in progress and will be relaesed later with version 12 but will also be released for version 11. What exactly do you mean by this: Creating actions within models?

[2018-09-10 11:30] aitorbouzas commented on #58
Ok, thanks for the help. Maybe we'll workaround with the kanban view instead of using the document viewer. If not, i'll try to do something with the tips you gave me and i'll come back later to tell you the results. If you manage to make it, please share your approach too.

Thanks :)

[2018-09-10 12:13] Gelson15 commented on #12
thank you very much for your reply keshrath, I can solve the problem, now when I click on install my environment appears white, meno and the application does not appear

[2018-09-10 12:17] Gelson15 commented on #12
I think it's through this message that:
"cabosysdb odoo.addons.sms.wizard.send_sms: The `phonenumbers` Python module is not available. Phone number validation will be skipped. Try `pip3 install phonenumbers` to install it."

[2018-09-10 16:07] Hamza-MESRAR commented on #12
you should restart your server

Le lun 10 sept. 2018 13:17, Gelson <notifications@github.com> a écrit :

[2018-09-10 16:23] Gelson15 commented on #12
I do it, I stop my execution I make the changes and I put the execution fee again but the error is continuing

[2018-09-10 20:29] Hamza-MESRAR commented on #12
can you verify the privilege about your module chown and chmod

Le lun 10 sept. 2018 17:23, Gelson <notifications@github.com> a écrit :

[2018-09-11 00:06] keshrath commented on #58
Okay, it's actually quite simple.

You can easily add initial data. I had already completely forgotten that I had implemented this.^^

Sample snippet:

[code]

[2018-09-11 00:06] #58 closed, assigned to nobody

[2018-09-11 00:46] #59 closed, assigned to nobody

[2018-09-11 09:31] Gelson15 commented on #12
how can I do this ? Hamza-MESRAR

[2018-09-11 18:32] Hamza-MESRAR commented on #12
If you use Linux you must check user about your module for exemple :
Chmod -R 777 /your_module and
Chown -R odoo:odoo /your_module
Odoo name of user

Le mar 11 sept. 2018 10:31, Gelson <notifications@github.com> a écrit :

[2018-09-11 19:08] Gelson15 commented on #12
Hamza-MESRAR, thank you very much for your help and for what you are doing for me.

[2018-09-11 19:11] Gelson15 commented on #12
I am developing another module, I would like to load data from a table, deferential module and present in the form of the module. I would like to know if this is possible in odoo, and how can I solve this problem.

[2018-09-12 08:47] Hamza-MESRAR commented on #12
yes you can

Le mar 11 sept. 2018 20:11, Gelson <notifications@github.com> a écrit :

[2018-09-12 10:15] Gelson15 commented on #12
I would like to have a suggestion how can I do this

[2018-09-12 10:15] Gelson15 commented on #12
I have Odoo Development Essentials but it is not enough for the development odoo, you have some suggestion where I can find more complete documents or contiudos for the odoo developer. Thank you.

[2018-09-12 13:52] Hamza-MESRAR commented on #12
in odoo official documentation

Le mer 12 sept. 2018 11:15, Gelson <notifications@github.com> a écrit :

[2018-09-13 12:04] Gelson15 commented on #12
How to extract data from the SQL query and assign it to the columns of the Odoo class?

Could anyone provide valuable information about this? how to get those values ​​in Odoo class columns (I meant assign to fields that of the class) and also how to get columns from two tables.

[2018-10-08 22:22] jjlopezg opened #60 "NameError: name 'vals' is not defined"
you can check this
odoo v11

  @api.multi
    def unlink(self):
        model_recs = defaultdict(set)
        model_names = self.pool.descendants(['muk_utils.groups'], '_inherit', '_inherits')
        for model_name in model_names:
            model = self.env[model_name].sudo()
            if not model._abstract:
                model_recs[model_name] = model.search([['groups', 'in', self.mapped(

[2018-10-08 22:37] #60 closed, assigned to nobody

[2018-10-09 10:17] keshrath commented on #60
https://github.com/muk-it/muk_base/commit/2390ce41d7f3e52e0448710e86574f198e557501

[2018-10-16 15:18] Davidb34 opened #61 "[11.0] muk_dms_file duplicate files on file system"
Hi, i use muk_dms_file-11.0.2.0.1 and when i set the path for the storage (as filesystem storage) it's automatically add the name of the database used.
(ex: path that i set : /opt/odoo/NASFILES and when i save it store: /opt/odoo /NASFILES/dbname)

The problem is when i create folders (2018 and Bill)and add a file (invoice.pdf) i can find these files on the path:
/opt/odoo/NASFILES/2018/Bill/invoi

[2018-10-18 10:52] aitorbouzas commented on #58
Sorry for reopening this. I understand the snippet, but is there a way to do this with an Odoo's action? Like create a button that returns an action or something and pass the directory with a param?

[2018-10-18 11:49] aitorbouzas commented on #58
Check #62 ! I'm a total newbie, but managed to do something :heart:

[2018-11-29 10:50] Davidb34 commented on #61
Hello, i still got this issue, i tried on new installation but it's still the same.
Can you tell me if you are looking on this?

Thanks.

[2018-12-08 10:13] mrezki commented on #12
for me it is still be issue.

![selection_111](https://user-images.githubusercontent.com/7223494/49684881-930bbf00-fb0c-11e8-8013-d63379f83722.png)

![selection_112](https://user-images.githubusercontent.com/7223494/49684905-e3831c80-fb0c-11e8-89f4-306a51e9abfb.png)

error is solved. but pdf not render on the page preview like this:

![selection_113](https://user-images.githubusercontent.com/72234

[2018-12-10 01:26] mrezki opened #64 "Uncaught TypeError: Cannot read property 'PDFJS' of undefined"
Hello,

I have installed module document save on database, but cannot preview as well.

![selection_115](https://user-images.githubusercontent.com/7223494/49705948-f1dc5000-fc54-11e8-9da5-248b1205c5e7.png)

screenshoot with debug mode and inspect element on console tab.

can u give me advice.

[2018-12-10 01:43] #64 closed, assigned to nobody

[2018-12-10 13:33] keshrath commented on #61
https://github.com/muk-it/muk_dms/commit/8b37981f9dc5ab962d6e1d92d84a5a8504529016

[2018-12-10 18:55] moblesmarti opened #65 "[12.0] muk_dms?"
First, sorry if it is not the correct channel to perform this type of query.
Are you going to carry dms to v12? If so, in the short or long term?
Thank you,

[2018-12-13 07:56] #65 closed, assigned to nobody

[2018-12-13 15:21] #61 closed, assigned to Kerrim-

[2019-01-05 16:18] ddway888 opened #66 "Preview issue for Odoo muk document"
After MUK document module installed,  all pdf files works well, but I got error message when try to preview txt and MS office files after finishing install relative modules, would you pls help to check the reason and solve it? thanks!

Uncaught Error: QWeb2: Template 'TextHTMLContent' not found

Uncaught Error: QWeb2: Template 'ExcelHTMLContent' not found

[2019-01-14 18:33] danielosser opened #67 "Error muk_dms.FileSiebar"
Error when installing DMS module.

Error in Qweb Template, found that it's a typo in a few files. See below.
muk_dms.FileSiebar instead of muk_dms.FileSidebar

find . -print |xargs grep Siebar
grep: .: Är en katalog
grep: ./description: Är en katalog
grep: ./src: Är en katalog
grep: ./src/xml: Är en katalog
./src/xml/views.xml:	<t t-name="muk_dms.FileSiebar">
./src/xml/views.xml:	<t t-name="muk_dm

[2019-01-14 19:54] keshrath commented on #67
Thanks for the info the sidebar is still work in progress. I will fix it with the next revision.

[2019-01-14 19:55] danielosser commented on #67
No problem.

I did a short test of adding a document and it all works as expected. :)

Best regards,
Daniel

[2019-01-16 16:13] #67 closed, assigned to nobody

[2019-02-07 14:14] bennals opened #68 "Unable to install muk_dms"
Installation environment : Odoo 11 CE on Ubuntu 16.04 server (AWS).

I have been using the older 1.0 version of muk_dms happily since early 2018.  I just tried to upgrade to the latest 2.0 versions but have hit a problem.  The steps I followed were:

- uninstalled old versions of muk_dms,  muk_dms_file,  muk_web_client,  muk_web_client_refresh,  muk_web_preview,  and muk_web_utils
- deleted the mo

[2019-02-08 06:15] bennals commented on #68
It seems that the tables muk_dms_file, muk_autovacuum_rules, and another one that I can't recall (muk_web_client_refresh maybe?) had not been properly dropped during the uninstall procedure.  I used PGAdmin4 to drop the tables manually and was then able to install the latest version of muk_dms and all dependencies successfully.

Thanks again for the great community modules.

[2019-02-08 06:15] #68 closed, assigned to nobody

[2019-02-11 12:13] Highcooley opened #69 "[Deprecation] document.registerElement is deprecated and will be removed in M73, around March 2019."
**[Deprecation] document.registerElement is deprecated and will be removed in M73, around March 2019. Please use window.customElements.define instead.**
[See for more details.](https://www.chromestatus.com/features/4642138092470272)
This relates to version 10.0 /muk_dms/static/lib/jsTree/jstree.js

[2019-02-18 11:41] gr22 opened #70 "[12.0] preview missing"
in odoo apps there is version for 12.0 but it seems incomplete (comparing to V10, and V11). The preview and tree view are missing.

[2019-02-18 12:03] keshrath commented on #70
This is not a bug. The features got refactored out and will be migrated separately.

[2019-02-18 12:03] #70 closed, assigned to nobody

[2019-02-18 12:15] gr22 commented on #70
Wonderful. Looking forward to see it for v12.
Amazing work!

[2019-02-20 04:38] bennals opened #71 "Problems with database manager after muk_dms installation"
I've been using the 2.0 version of muk_dms on 11 CE or a few weeks now without any trouble, but I tried to drop a database via web/database/manager just now and received the following error.

2019-02-20 04:27:45,611 20216 ERROR test odoo.http: muk_dms.settings
Traceback (most recent call last):
  File "/home/odoo/odoo-server/odoo/http.py", line 118, in dispatch_rpc
    result = dispatch(method, pa

[2019-02-20 11:57] keshrath commented on #71
https://github.com/muk-it/muk_dms/pull/63

[2019-02-20 16:33] #71 closed, assigned to nobody

[2019-02-21 06:07] bennals commented on #71
Thank you, that seems to have fixed the problem.  Also was having trouble with restoring a database which seemed to be related to muk_security but the update three days ago seems to have fixed that, so thanks for that as well.

[2019-02-25 14:21] Highcooley commented on #69
Are you planning on working on this? Otherwise DMS for odoo 10.0 will stop working very soon. Thanks for your reply.

[2019-02-25 14:42] keshrath commented on #69
JSTree is a library. Do you know if it is fixed there or a newer version exists?

[2019-02-25 14:50] keshrath commented on #69
3.3.4 -> 3.3.7 might be possible and should solve this issue. If you have the time you could test it and do a PR.

[2019-02-26 13:42] keshrath commented on #69
https://github.com/muk-it/muk_dms/pull/72

[2019-02-26 13:42] #69 closed, assigned to nobody

[2019-02-27 23:28] asolano88 opened #73 "Cannot Install MUK DMS 12.0.2.5.11"
Error:
Odoo Server Error

Traceback (most recent call last):
  File "/opt/odoo12/odoo/odoo/api.py", line 1039, in get
    value = self._data[key][field][record._ids[0]]
KeyError: 1

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/odoo12/odoo/odoo/fields.py", line 975, in __get__
    value = record.env.cache.get(record, self)
  Fi

[2019-02-28 10:22] rikvanlier opened #74 "File storage location"
I have a Windows version of Odoo 12 running. I installed Muk Documents and the option Filestore Storage.

I installed a Storage as File Storage.

But where is this placed on my windows server? Where does the data goes to?

[2019-02-28 10:24] keshrath commented on #74
same place as the Odoo filestore:

os.path.join(config.get('data_dir'), 'files', dbname)
...\AppData\Local\OpenERP S.A\Odoo\files

[2019-02-28 10:42] #74 closed, assigned to nobody

[2019-03-04 08:04] digitalliuzg commented on #73
OCB V12 install for bug

The style compilation failed, see the error below. Your recent actions may be the cause, please try reverting the changes you made.

Error: no mixin named mk-flex-container

       Backtrace:
       	stdin:7974
        on line 7974 of stdin

   -----------^
This error occured while compiling the bundle 'web.assets_backend' containing:
    - /web/static/lib/bootstrap/scss/_

[2019-03-04 08:05] digitalliuzg commented on #73
OCB v12

[2019-03-04 13:34] keshrath commented on #73
https://github.com/muk-it/muk_web/blob/12.0/muk_web_utils/static/src/scss/mixins.scss#L20

[2019-03-05 12:22] digitalliuzg commented on #73
Ok ，Solved ,Thank you.

[2019-03-05 12:23] #73 closed, assigned to nobody

[2019-03-08 11:46] asolano88 opened #75 "MUK Document Attachment"
After installing the MUK Document Attachment, got this error when setting up (clicking) the "attachments" button to set the location.

Error:
Uncaught Error: Expected "}", got "(string)"

http://192.168.0.27:8069/web/content/468-5d285c5/web.assets_backend.js:143
Traceback:
Error: Expected "}", got "(string)"
    at advance (http://192.168.0.27:8069/web/content/468-5d285c5/web.assets_backend.js:143

[2019-03-08 11:50] keshrath commented on #75
Javascript errors without debug=assets are unfortunately not verifiable

[2019-03-08 12:08] asolano88 commented on #75
I tried the MUK demo site and it has the same error.

[2019-03-08 12:12] keshrath commented on #75
[code]

[2019-03-08 12:23] keshrath commented on #75
https://github.com/muk-it/muk_dms/commit/61607da6865fc46347569d71c2b0f3253f4e8503

[2019-03-08 12:23] #75 closed, assigned to nobody

[2019-03-08 23:29] asolano88 opened #76 "MUK DMS 12 - cannot store more than 25MB file"
Cannot store more than 25MB file.

In MUK DMS 11 - this was not an issue.

[2019-03-08 23:30] keshrath commented on #76
Are you getting an error? Or have you simply not changed the setting, which is set to 25MB by default.

[2019-03-08 23:37] asolano88 commented on #76
I have changed the File upload size setting to 100MB.

Once I upload a 68MB file or greater than 25MB, it will indicate that selected file size exceeded maximum of 25MB.

[2019-03-08 23:58] keshrath commented on #76
https://github.com/muk-it/muk_web/commit/ce94517d8d63b76526f1d5a23601943b2f77bf51

[2019-03-08 23:58] #76 closed, assigned to nobody

[2019-03-09 00:16] asolano88 commented on #76
Thank you. That solved the issue.

[2019-03-09 09:22] asolano88 commented on #76
Hi Mathias,

First of all, thank you for your help. I just want to understand a little more in MUK DMS capabilities because we wanted to implement the system.

What is the effective file size that MUK DMS can handle?

I tried experimenting and with the following settings:

  1.  Upload File Size 100MB

File size less than 70MB

File size greater than 70MB.

Is this something to do with the hardwar

[2019-03-09 10:49] keshrath commented on #76
The biggest limitation for this is the Odoo Binary Field and the Odoo Framework itself. This internally uses base64 for files and no streams. This means you have to be able to convert the file to base64 and this is sometimes a problem with larger files.

[2019-03-10 00:16] asolano88 commented on #76
Noted.

Thank you and best regards,
Allen

On 9 Mar 2019, at 6:49 PM, Mathias Markl <notifications@github.com<mailto:notifications@github.com>> wrote:

The biggest limitation for this is the Odoo Binary Field and the Odoo Framework itself. This internally uses base64 for files and no streams. This means you have to be able to convert the file to base64 and this is sometimes a problem with larger f

[2019-03-12 17:28] luisvzqz opened #77 "Cannot read property 'settingView' of undefined"
Cannot read property 'settingView' of undefined
Gives me this as an error when trying to enter to Settings/General Setting
![Documents   System](https://user-images.githubusercontent.com/24595734/54221634-8905ad80-44b9-11e9-82b5-92f76d0a8bce.png)

Investigating furthermore I had been able to debug, the following:
fin360 odoo.schema: Table 'res_config_settings': unable to set NOT NULL on column 'at

[2019-03-12 18:45] keshrath commented on #77
https://github.com/muk-it/muk_web/issues/66

[2019-03-12 18:45] #77 closed, assigned to nobody

[2019-04-08 15:55] Pereiral01 opened #78 "MUK DOCUMENTS VERY SLOW with ODOO 11"
Hello,

Some moths ago, I bought a MUK DOCUMENTS APP. I’m using it, with very well results, but some bit a bit, it was slowing down. Now each time I go to access to it, it takes 3 min to open the tree folders …

Once opened, the file reading is fluid. So I think the problem is when it comes to loading the information.

We have a lot of documents (about 5600), Could it be the cause of this behavior

[2019-04-11 21:34] amirpadilla opened #79 "MUK DMS Uninstall"
Hello,

We did purchase some of your modules (sent kerrim the invoice).

I have the following issue

If I try to uninstall MUK Documents, it starts the document migration
![Migration](https://user-images.githubusercontent.com/42611243/55994423-a1ffab00-5c7f-11e9-9ff1-d1ff59ed2577.png)

and after uninstall it I got an error on the website
![Web](https://user-images.githubusercontent.com/42611243/55

[2019-04-12 16:06] keshrath commented on #78
Unfortunately, that's true. The reason for this is essentially these two methods:

https://github.com/muk-it/muk_dms/blob/11.0/muk_dms/models/dms_settings.py#L150
https://github.com/muk-it/muk_dms/blob/11.0/muk_dms/models/dms_settings.py#L156

Each document is asked if its parent can be read and so the top elements are determined. However, this is a rather unperformant solution for many files and

[2019-04-12 16:08] keshrath commented on #78
In Version 12 we use this method:

https://github.com/muk-it/muk_base/blob/12.0/muk_utils/models/base.py#L82

[2019-04-12 17:46] #55 closed, assigned to nobody

[2019-04-12 17:47] #66 closed, assigned to nobody

[2019-04-13 08:39] #78 closed, assigned to nobody

[2019-04-13 10:53] Kerrim- commented on #79
I think the reason you are experiencing this is because you are trying to uninstall the module while odoo is running (maybe with more than one worker accessing this db), hence the deadlock. I just tried it and it should be enough just to uninstall muk_dms. The migration process for the attachments is started automatically and after that it removes the modules.

As the migration process can take a

[2019-04-15 16:05] Pereiral01 commented on #78
Hello Mathias,

I des MUK_DOCUMENTS 11.0.1.3.5 ….

I changed the dms_settings.py (attached it) with:

@api.multi
def _compute_top_files(self):
for record in self:
record.top_files = record.settings_files

Restarted server … and ODOO WHITE page … restarted again and white again.

I would to do anything more? A SQL QUEARY? Which one? Any idea?

Many thanks

El 12 abr 2019 18:07 +0200, Mathias Markl

[2019-04-15 16:21] keshrath commented on #78
[code]

[2019-04-15 16:22] #79 closed, assigned to Kerrim-

[2019-04-15 22:59] Pereiral01 commented on #78
Hello,

Thank you very much for your fast answer. Now it says this:

Error:
Odoo Server Error

Traceback (most recent call last):
File "/odoo/odoo-server/odoo/fields.py", line 936, in __get__
value = record.env.cache.get(record, self)
File "/odoo/odoo-server/odoo/api.py", line 960, in get
value = self._data[field][record.id][key]
KeyError: <odoo.api.Environment object at 0x7ff604fe9f98>

During ha

[2019-04-16 11:22] keshrath commented on #78
lower case

[2019-04-16 15:02] Pereiral01 commented on #78
Lower case? Whats means this, please?
Many thanks

El 16 abr 2019 8:23 PM +0900, Mathias Markl <notifications@github.com>, escribió:

[2019-04-16 15:04] keshrath commented on #78
it looks to me like you wrote Pass instead of pass

[2019-04-16 17:39] amirpadilla commented on #79
Hi @keshrath , @Kerrim-

I'm not sure if we should close this issue, I followed Kerrim steps, but the main issue is with

I tried to migrate some files and webpage stopped working, it looks the migration break the location where the less files are in the system, so i'm not sure if that is because of the migration or it has to do something with Odoo directly

Could not get content for /portal/stati

[2019-04-16 18:36] keshrath commented on #79
Try regenerating the assets after migration. In Odoo 12 this can be done directly via the Debug menu "Regenerate Assets Bundles". Maybe it didn't exist in version 11 then you have to do it via the odoo shell.

[2019-04-16 20:03] amirpadilla commented on #79
@keshrath Do you know by any chance the command for the shell, I can't locate any command in the odor forums

I will try with this:
https://medium.com/@reedrehg/odoo-images-and-attachments-explaining-and-regenerating-assets-d1eb7fe8a3ed

[2019-04-16 20:56] keshrath commented on #79
https://github.com/odoo/odoo/blob/12.0/addons/web/static/src/js/tools/debug_manager.js#L226

[2019-04-16 20:56] keshrath commented on #79
just delete them

[2019-04-16 22:13] amirpadilla commented on #79
@keshrath tried with no luck

[2019-04-17 19:16] amirpadilla opened #80 "[11.0] muk_dms deleting attachments during Document Migration"
Hello @Kerrim- @keshrath

I notice something during the document migration, files are deleted instead of migrating them.

Steps to reproduce:

Change Storage Location from Muk Documents to File Storage and click save
![1](https://user-images.githubusercontent.com/42611243/56314381-e88f5280-6122-11e9-958e-ddc986186a74.png)

Go to the Attachment menu and locate one attachment, in this case we have t

[2019-04-18 13:37] turkimaki opened #81 "MuK Documents View Error on odoo 12 canno't acces to setting after installation"
hello ,
After installing MuK Documents View in Odoo 12 i cann't acces to setting odoo so I just uninstall the module after than setting work .on odoo apps it's noted that " WORK IN PROGRESS ALPHA VERSION!!! " so this problem will be fix soon i hope.
Another thing I want to ask about Muk Document Share now available only for 11 it will be soon for version 12 ?
Thanks .

[2019-04-22 13:42] amirpadilla commented on #80
Any update on this?

[2019-04-25 13:33] Kerrim- commented on #80
Hi,

I did some testing but I still can't reproduce this error. Does this also happen to you on a new database?
And if so can you also post the version numbers of your modules?

[2019-04-25 17:54] amirpadilla commented on #80
Hi @Kerrim- I will try in a new database.

Modules Versions:
MuK Documents - 11.0.2.1.6
MuK Documments Attachments - 11.0.2.0.3

![image](https://user-images.githubusercontent.com/42611243/56757210-ab017980-6761-11e9-87a2-cce2bd765308.png)

[2019-04-26 19:27] amirpadilla commented on #80
Hi @Kerrim-

Tried in a clean environment got the same error.

System:
Odoo 11 CE

Modules Installed:
Employee Directory (hr)
Attachments List and Document Indexation (document)
MuK Documents
MuK Documents Attachment
MuK Documents Attachment Automation

Steps:
**1.- Configure MUK DMS**
- Settings
![image](https://user-images.githubusercontent.com/42611243/56830979-e1a8c400-6835-11e9-8d7c-c8f474dd9

[2019-04-27 06:55] ehrenstein-c opened #82 "Missing „client action“ muk_dms_views.documents"
![Screenshot 2019-04-27 08 46 13](https://user-images.githubusercontent.com/938955/56845980-70b2ec00-68c9-11e9-865c-a041689991e3.png)
I took the copy-into-addons-folder route of installing muk_dms, and after cobbling together the additional apps from various git packages to satisfy all dependencies (and after defining the proper access permissions), I got the error message shown in the screenshot.

[2019-04-29 13:53] keshrath commented on #82
There can be a whole lot of reasons for that. Sometimes it helps to restart the server and update the app again, as well as switch to the assets mode (?debug=assets). Possibly it is a problem with the permissions on the operating system, make sure that Odoo has permissions on the corresponding folders. Does all this help nothing look in debug mode with assets to see if you see an error message in

[2019-05-05 05:06] Tikanya opened #83 "Muk Documents Finder v.12"
Good day! With muk_dms_finder version 11, it is possible to upload folders with files to the server, however, for version 12, only empty directories are loaded when I drag the file directory. Maybe I lost some settings?

[2019-05-06 10:16] #82 closed, assigned to nobody

[2019-05-06 15:38] amirpadilla commented on #80
@Kerrim- @keshrath Any update on this?

[2019-05-06 17:20] keshrath commented on #80
I really couldn't reproduce the error with your instructions, but my guess is that it's muk_dms_file. We rewrote this module for version 12, because there were some problems and under certain circumstances this behavior is also a result of it. Or can you reproduce the error without this module?

[2019-05-06 17:21] keshrath commented on #81
The settings shouldn't break with the view. Are you sure all the dependecies were up to date?

[2019-05-06 17:38] amirpadilla commented on #80
Hi @keshrath not sure what module are you referring?

These are the modules that I have
![image](https://user-images.githubusercontent.com/42611243/57243323-da3aa500-7003-11e9-89ba-593723e151bd.png)

And

**Employee Directory (hr)
Attachments List and Document Indexation (document)**

both from Odoo

Do you have an Odoo v11 CE machine where you can test this?
Do you want me to test in Odoo v12? bu

[2019-05-06 19:33] keshrath commented on #80
What happens if you migrate them one by one?

![image](https://user-images.githubusercontent.com/4851083/57249959-9c12a500-7046-11e9-8609-cfc108d85585.png)

[2019-05-06 20:56] amirpadilla commented on #80
@keshrath it does the same. attachment is deleted from the employee

[2019-05-06 20:57] keshrath commented on #80
https://github.com/muk-it/muk_dms/blob/11.0/muk_dms_attachment/models/ir_attachment.py#L88

[2019-05-06 21:07] amirpadilla commented on #80
@keshrath Not sure what should I be looking in the code, but yes even with one attachment it deletes it from muk documents and from the employee record.

[2019-05-06 21:17] amirpadilla commented on #80
@Kerrim- @keshrath

Video Example

https://bpmint-my.sharepoint.com/:v:/p/apadilla/Eb1XfmWpau5JnR15WMbLP8QBmIZBnbnkGoJTUfKKPI9Mpw?e=Oy3fDZ

[2019-05-06 21:22] keshrath commented on #80
This is the code executed by the action. Also in your video, but I can do the same steps and don't get the same result. The code doesn't delete the attachment either, because nowhere is unlink called. You can try to debug the Python code and see what happens when you trigger the action. Maybe you can find the place where the attachment is deleted.

[2019-05-06 23:05] keshrath commented on #80
Take a look at `@profile` https://www.odoo.com/documentation/11.0/howtos/profilecode.html

[2019-05-07 13:31] turkimaki commented on #81
Hello yes sir i'am sure

[2019-05-09 03:02] PluviaCon commented on #81
I also encountered this problem, using the developer mode, you can not access the settings.
Detailed error:
[code]

Will these modules be missing?

[2019-05-13 04:54] Tikanya opened #84 "Need help: set the default directory for kanban view"
Could you please help how to change the default kanban view from “All” to “My Directory”?

[2019-05-15 09:00] asolano88 opened #85 "MUK Documents View"
After installing MUK Documents View, when you are in "Active Developer Mode", you can no longer open "Settings" module.

On the other hand, if you are in "Active Developer Mode (with assets)", you can open the "Settings" module.

Uninstalling the MUK Documents View app, Settings module is back to normal.

[2019-05-20 13:42] keshrath commented on #83
Please try version 12.1.0.6

[2019-05-20 13:44] keshrath commented on #84
I don't get what you are trying to do

[2019-05-20 14:02] Tikanya commented on #83
Thanks, downloading and viewing for non-latin file names works

[2019-05-20 14:12] #83 closed, assigned to Kerrim-

[2019-05-20 17:15] keshrath commented on #81
https://github.com/muk-it/muk_dms/commit/4e001888a5425088374c1307f2fcbe9dee25f5dc

[2019-05-20 17:15] #81 closed, assigned to keshrath

[2019-05-20 17:15] keshrath commented on #85
https://github.com/muk-it/muk_dms/issues/81

[2019-05-20 17:15] #85 closed, assigned to nobody

[2019-05-21 05:11] asolano88 opened #86 "Document View v.12 - Create Button"
On Clicking "CREATE" Button

The following error will appear:

Error:
Uncaught TypeError: this.controller._createNode is not a function

http://192.168.0.228:8069/web/content/25398-37c058e/web.assets_backend.js:3861
Traceback:
TypeError: this.controller._createNode is not a function
    at Class._create_selected_node (http://192.168.0.228:8069/web/content/25398-37c058e/web.assets_backend.js:3861:8

[2019-05-21 05:16] asolano88 opened #87 "MUK MSOffice Preview Error"
When previewing MS Office (Word, PPT or Excel)

It will give an error on the Preview:

" An error occured
We're sorry, but for some reason we can't open this for you."

[2019-05-21 06:04] keshrath commented on #87
Is `muk_web_utils` up to date? https://github.com/muk-it/muk_web/commit/6ab318c0d216f37bd6579e2ca0657c3edac9a48e

[2019-05-21 06:10] asolano88 commented on #87
Hi Mathias,

Yes, muk_web_utils is version 12.0.2.9.4

From: Mathias Markl<mailto:notifications@github.com>
Sent: Tuesday, May 21, 2019 2:04 PM
To: muk-it/muk_dms<mailto:muk_dms@noreply.github.com>
Cc: asolano88<mailto:asolano88@hotmail.com>; Author<mailto:author@noreply.github.com>
Subject: Re: [muk-it/muk_dms] MUK MSOffice Preview Error (#87)

Is muk_web_utils up to date? muk-it/muk_web@6ab318c<

[2019-05-21 06:12] keshrath commented on #87
Since you open the ticket in the dms repo i guess you are trying to preview a dms file. To preview a office file the system creates a temporary attachment. Can you check if the mimetype of this attachment is correctly set.

[2019-05-21 06:22] asolano88 commented on #87
Hi Mathias,

Here is the file info for your reference.

Name:
product.template (9).xls
Mimetype:
application/vnd.ms-excel
Size:
760.83 KB
Last Updated on:
2019-04-23 03:36:53
Last Updated by:
Administrator

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Mathias Markl <notifications@github.com>
Sent: Tuesday, May 21, 2019 2:12:5

[2019-05-21 06:41] keshrath commented on #87
This is the dms file or the attachment?

[2019-05-21 06:56] asolano88 commented on #87
DMS File.

It automatically creates the same Name as the attachment.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Mathias Markl <notifications@github.com>
Sent: Tuesday, May 21, 2019 2:41:29 PM
To: muk-it/muk_dms
Cc: asolano88; Author
Subject: Re: [muk-it/muk_dms] MUK MSOffice Preview Error (#87)

This is the dms file or the

[2019-05-21 07:34] keshrath commented on #87
And this attachment has the right mimetype?

[2019-05-21 07:35] keshrath commented on #87
Just to make sure: You are trying to do that on a server right? not local with localhost? localhost wont work since the MS Office Viewer needs to be able to download the file, so it has to be available on the web.

[2019-05-21 07:39] asolano88 commented on #87
Yes

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Mathias Markl <notifications@github.com>
Sent: Tuesday, May 21, 2019 3:34:21 PM
To: muk-it/muk_dms
Cc: asolano88; Author
Subject: Re: [muk-it/muk_dms] MUK MSOffice Preview Error (#87)

And this attachment has the right mimetype?

—
You are receiving this because you authored t

[2019-05-21 07:47] keshrath commented on #87
I was able to reproduce it. Its a problem for non admin users. Admin seem to work fine.

I will close this ticket since its not a dms bug and reopen this one:
https://github.com/muk-it/muk_web/issues/85

[2019-05-21 07:47] #87 closed, assigned to keshrath

[2019-05-21 07:47] asolano88 commented on #87
Hi Mathias,

The environment is that we have a local Server (on premise and with Odoo Community Edition v12). So is this the issue?

________________________________
From: Mathias Markl <notifications@github.com>
Sent: Tuesday, May 21, 2019 3:35:53 PM
To: muk-it/muk_dms
Cc: asolano88; Author
Subject: Re: [muk-it/muk_dms] MUK MSOffice Preview Error (#87)

Just to make sure: You are trying to do tha

[2019-05-21 07:51] keshrath commented on #87
On premise doesn't necessarily mean it's a problem. But the attachments have to be reachable via http/s. So if the server is completely in the VPN without access to the Internet, then it will not work.

[2019-05-21 07:56] asolano88 commented on #87
Hi Mathias,

I understand.

At this time, our setup is without access to internet.

________________________________
From: Mathias Markl <notifications@github.com>
Sent: Tuesday, May 21, 2019 3:51:02 PM
To: muk-it/muk_dms
Cc: asolano88; Author
Subject: Re: [muk-it/muk_dms] MUK MSOffice Preview Error (#87)

On premise doesn't necessarily mean it's a problem. But the attachments have to be reachable

[2019-05-21 09:22] keshrath commented on #86
Can you please send the trace while in debug mode with assets

[2019-05-21 09:28] asolano88 commented on #86
Error:
Uncaught TypeError: this.controller._createNode is not a function

http://192.168.0.228:8069/muk_dms_view/static/src/js/views/main/main.js:247
Traceback:
TypeError: this.controller._createNode is not a function
    at Class._create_selected_node (http://192.168.0.228:8069/muk_dms_view/static/src/js/views/main/main.js:247:23)
    at HTMLButtonElement.dispatch (http://192.168.0.228:8069/web/s

[2019-05-21 10:46] #84 closed, assigned to nobody

[2019-05-21 11:10] Tikanya commented on #84
I would like to specify a directory, selected by default instead of the filter "All" for the model=muk_dms.file&view_type=kanban
if it's possible

[2019-05-21 11:14] keshrath commented on #84
https://github.com/muk-it/muk_web/blob/12.0/muk_web_searchpanel/static/src/js/kanban_view.js#L64

[2019-05-21 18:01] keshrath commented on #86
https://github.com/muk-it/muk_dms/commit/e2c2d786cda98eb5d3ca56313051585e28892665

[2019-05-21 18:01] #86 closed, assigned to keshrath

[2019-05-23 13:44] jorsea opened #88 "[11.0] An error occurred in the search Directory or file"
Pls help me, thanks!
env:
odoo11.0E
![image](https://user-images.githubusercontent.com/9857984/58257613-cf259a00-7da3-11e9-83d3-374d54ea194a.png)

Steps:
![image](https://user-images.githubusercontent.com/9857984/58257520-a69da000-7da3-11e9-8be2-9bd6a6f40143.png)
Error:
![image](https://user-images.githubusercontent.com/9857984/58257563-b917d980-7da3-11e9-9e40-d411dd248557.png)

[2019-05-24 10:14] jorsea commented on #88
I solved it.

[2019-05-24 10:14] #88 closed, assigned to nobody

[2019-05-29 04:18] amirpadilla commented on #80
Hi @keshrath @Kerrim- any update on this besides me trying to debug the code?

[2019-05-30 03:26] amirpadilla commented on #80
@Kerrim- @keshrath Can you send me the latest versions of my MUK Modules to check if something changed?

https://user-images.githubusercontent.com/42611243/57243323-da3aa500-7003-11e9-89ba-593723e151bd.png

Thanks,
Amir

[2019-05-30 08:24] keshrath commented on #80
Github has the newest versions.

[2019-05-30 12:39] asolano88 opened #89 "DMS ver 12- using Filter for the Field Tags"
At the Files Menu:
Select Filters
Add Custom Filter
Select Field **Tags** condition (contains, not equal to , etc) = "value"

Error:
Odoo Server Error

Traceback (most recent call last):
  File "/opt/odoo12/odoo/odoo/http.py", line 654, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/opt/odoo12/odoo/odoo/http.py", line 312, in _handle_exception
    ra

[2019-05-30 13:00] amirpadilla commented on #80
@keshrath Can you please add me to the repositories (privates) of the paid modules that I have, so I can update the whole suit.

Thanks,
Amir

[2019-05-30 14:00] keshrath commented on #80
For the paid modules you can download them again from the Odoo store. I just updated them again to make sure the are up to date.

[2019-06-05 16:29] miguelsilvazup opened #90 "[12.0] Client error"
I have installed muk_dms in Odoo 12.0 and it shows the following erros:

[code]

[2019-06-05 16:31] keshrath commented on #90
Check access rights of Odoo to the addon folder. Restart the server and update the searchpanel app again.

[2019-06-05 17:12] miguelsilvazup commented on #90
Thx, it looks like working perfectly.

[2019-06-05 17:12] #90 closed, assigned to nobody

[2019-06-12 04:21] miguelsilvazup opened #91 "[12.0] Problems with setting up Parent Directory"
I'm trying to reconfigure a directory from root directory to an ordinary directory. When I deselect "Is root directory", it opens automatically "Parent directory" to be chosen. But it gives no option of any directory I've created before, only "create and edit".

I expected my other directories were available to move and change the directory structure.

[2019-06-15 03:25] asolano88 commented on #87
Hi Mathias,

May I check with you if you did have a chance to look at this issue?

Thanks and best regards,
Allen

DMS ver 12- using Filter for the Field Tags #89
 Open
asolano88<https://github.com/asolano88> opened this issue 16 days ago · 0 comments
 Open
DMS ver 12- using Filter for the Field Tags<https://github.com/muk-it/muk_dms/issues/89> #89
asolano88<https://github.com/asolano88> opened th

[2019-06-16 10:09] bolatk opened #92 "Document migration with drag and drop (move) does not delete file in filesystem and not fill content_binary column in database"
I am using the latest version of MUK DMS module.
Steps to reproduce the issue:

1. Move any file from a folder with Filesystem storage to any folder with Document storage.
2. Check **content_binary**, **content_file** columns in `muk_dms_file` PostgreSQL table.

When you do **Migration** action manually, following the Configuration-System-Migration menu, migrated file stays corrupted with **zero**

[2019-06-16 10:12] Kerrim- commented on #92
Which Odoo version are you using?

[2019-06-16 10:12] bolatk commented on #92
Sorry, Odoo 12.

[2019-06-17 09:56] keshrath commented on #91
https://github.com/muk-it/muk_dms/commit/5551b9134140c3afe70b53fd4a3c69955ae2ffba

[2019-06-18 10:17] #91 closed, assigned to keshrath

[2019-06-18 10:18] keshrath commented on #92
https://github.com/muk-it/muk_dms/commit/6fc046928638d10d7210027de10f1ffe46eb8f41 | https://github.com/muk-it/muk_dms/commit/d55686aca773358d2fed45245584038747358afb | https://github.com/muk-it/muk_dms/commit/b43eff3a506b59d398cc713063f2955eec400da5

[2019-06-18 10:18] #92 closed, assigned to keshrath

[2019-06-18 11:56] pkr123dw opened #93 "cannot delete directory with files containing special characters"
With Odoo version 11,

Odoo Server Error
Traceback (most recent call last):
  File "/odoo/odoo-server/odoo/http.py", line 650, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/odoo/odoo-server/odoo/http.py", line 310, in _handle_exception
    raise pycompat.reraise(type(exception), exception, sys.exc_info()[2])
  File "/odoo/odoo-server/odoo/tools/pyco

[2019-06-18 21:42] Kerrim- commented on #93
Hi,

can you update the module and retry it.

https://github.com/muk-it/muk_dms/commit/0469e0f362678a7df4ed6e5ecbac2856b3caf381

Regards,
Kerrim

[2019-06-20 21:37] miguelsilvazup commented on #91
When I tried to install it, I received the following messages. I tried other procedures before sending you the error, but they didn't work and didn't add any new information.

[2019-06-20 21:39] #93 closed, assigned to Kerrim-

[2019-06-23 22:05] ehrenstein-c opened #94 "Installation von muk_web_security führt zu Style Error"
Ich habe beim Versuch der Installation von zahlreichen MuK-Paketen (insbesondere DMS) ein Problem mit Style-Fehlern, konnte das Problem aber schließlich auf das Paket muk_web_security eingrenzen, nach dessen Installation der folgende Fehler erstmalig auftaucht:

`The style compilation failed, see the error below. Your recent actions may be the cause, please try reverting the changes you made.

Nam

[2019-06-23 22:09] keshrath commented on #94
Dein Fehler Log sieht nach Odoo 12.0 aus. Das Modul muk_web_security existiert aber für diese Version gar nicht.

[2019-06-24 07:08] ehrenstein-c commented on #94
Hmm… strange.
Was ich gemacht habe:

- die Pakete von GitHub, in einem weiteren Versuch auch vom Nexus-Server runtergeladen
- muk_dms installiert --> Fehler taucht auf
- mich an den Deps entlanggehangelt, bis der Fehler auftaucht --> bei Installation von muk_security wurde dann muk_web_security mitinstalliert.

Habe ich vielleicht eine veraltete Dependency-Referenzdatei bei mir auf dem Server, das

[2019-06-24 07:44] keshrath commented on #94
Sprich du hast jetzt keinen Fehler mehr?

[2019-06-24 08:00] ehrenstein-c commented on #94
Es scheint so. Wenn ich aber alles von MuK deinstalliere und direkt muk_dms installiere, taucht der Fehler wieder auf. Da muss also irgendwo noch eine Dep drinstehen, die Odoo dazu veranlasst, muk_web_security zu installieren.

[2019-06-24 08:05] keshrath commented on #94
Also in den Version 12.0 Modulen gibts diese Abhängigkeit nicht. Vielleicht hast du irgendwo irrtümlich ein Modul von 11.0 mit drin.

Für mich hat sich gezeigt, dass es am Besten ist die Module über `pip` zu installieren. Dann musst du dir über die Abhängigkeiten auch keine Gedanken mehr machen.

Nexus: https://nexus.mukit.at/#browse/browse:odoo
Info: https://mukit.at/en_US/page/open-source (am En

[2019-06-24 08:08] keshrath commented on #94
`muk_web_security` hat einen `auto install` Flag sprich es wird installiert sobald die Abhängigkeiten erfüllt sind. Ergo sobald `muk_security` installiert ist. Das Modul sollte aber gar nicht in deinem Addons Ordner sein, weil es nicht die richtige Version hat.

Code: https://github.com/muk-it/muk_web/blob/11.0/muk_web_security/__manifest__.py#L50

[2019-06-24 11:56] miguelsilvazup opened #95 "[12.0] muk_dms installation"
When I tried to install the newest version of muk_dms, I received the following message. I tried other procedures before sending you the error, but they didn't work and didn't add any new information.

[2019-06-24 12:06] keshrath commented on #95
Seems to me that you are missing module_muk_dms_index in your database:

https://github.com/muk-it/muk_dms/blob/12.0/muk_dms/models/res_config_settings.py#L58

[2019-06-24 12:07] #80 closed, assigned to Kerrim-

[2019-06-25 16:10] katyukha opened #96 "[11.0] Regression muk_dms_file: database operations broken on databases that have not muk_dms_file installed."
Regression is here:
![image](https://user-images.githubusercontent.com/1129820/60114118-cf86cb80-977b-11e9-99c0-449011417c62.png)

Statement `if env.get('muk_dms.settings')` checks whether muk_dms is installed on this database (if 'muk_dms.settings' model is present in registry).

In case, when you have server with two databases: one with muk_dms_file installed and second without, then it is not p

[2019-06-27 08:17] Kerrim- commented on #96
https://github.com/muk-it/muk_dms/commit/caa6d3498d156ef9d15f40e52c0b8c88a7f422f5 should fix this. Can you confirm?

Thanks for reporting!

[2019-06-27 09:41] katyukha commented on #96
Thank you for so fast reaction)
I will check it today.

[2019-06-27 09:51] katyukha commented on #96
Diff shows me that file is completely rewritten. Is it correct?

Also, check this part of diff:
![image](https://user-images.githubusercontent.com/1129820/60256309-f3f8ba00-98d9-11e9-8f03-c7617c7cb273.png)

is following change correct?
![image](https://user-images.githubusercontent.com/1129820/60256363-096de400-98da-11e9-848b-d9d48cdd5dea.png)

[2019-06-28 10:24] Kerrim- commented on #96
Now everything should be working fine.

https://github.com/muk-it/muk_dms/commit/afe20f7a08ec95aa0e287228caea6b6fea8eff1d

[2019-06-28 10:24] #96 closed, assigned to Kerrim-

[2019-06-29 23:22] jiangweiatgithub opened #97 "Cannot copy/past multiple selected files"
Hi,
I can select/highlight multiple files, but when I try taking some action from the context menu, such as copy, delete, etc, only the only file that my mouse is hovering over is acted upon.  Is that designed so, or can I have other options to act on multiple selected files? (I can drag and drop multiple "nodes", though.)

Actually, I also want to reference all the multiple selected files in a se

[2019-07-01 08:59] bhanukiran6688 opened #98 "Large PDF files is not uploading"
Hi,
Impacted versions: 11 and 12
In documents view [first menu, may be javascript view], there is an option to upload files. When small files are uploaded there is no issue but when files greater that 12MB are uploaded, the upload fails and no error message is shown either in view or in the server logs. Even after waiting for 10 minutes, the uploaded file doesn't show in the documents list. This i

[2019-07-03 07:30] keshrath commented on #94
Ich werde dieses Ticket schließen da es seit einer Woche keine neuen Informationen gibt. Falls du weitere Probleme hast öffne bitte ein neues Ticket.

[2019-07-03 07:30] #94 closed, assigned to keshrath

[2019-07-03 07:54] fnguena opened #99 "Bug on Odoo 9 Entreprise"
Hello,
I encounter a bug when I install the muk_dms module on odoo 9e entreprise.
in attachment a print of the bug .... thank you. need help to debug
![bug](https://user-images.githubusercontent.com/12985085/60573705-17a38080-9d70-11e9-9858-40625751c84f.png)

[2019-07-04 01:55] sm2x opened #101 "Error while validating constraint"
Odoo 11, if multi-company is enabled, switching to another company generates the above error with the additional msg: ... maximum recursion depth exceeded.

[2019-07-05 09:54] ajaychauhan727 commented on #101
Hi @sm2x ,

Can you please write some steps to reproduce it?

[2019-07-05 15:04] keshrath commented on #89
https://github.com/muk-it/muk_dms/pull/103 --> https://github.com/muk-it/muk_dms/commit/cb30e298e35d507b880ddf8847db175ef620c969

[2019-07-05 15:04] #89 closed, assigned to keshrath

[2019-07-05 15:35] #95 closed, assigned to keshrath

[2019-07-06 02:06] sm2x commented on #101
setup new Odoo 11 instance
- enable Multicompany
- create at least 2 companies and authorize a user on both companies
- install muk_dms
- switch back and forth on both companies via company selector
the error appears during this switching of company

[2019-07-08 13:23] Kerrim- commented on #99
I'm sorry like Odoo we only provide support for the last three major odoo versions.

Regards,
Kerrim

[2019-07-08 13:23] #99 closed, assigned to Kerrim-

[2019-07-12 23:49] jiangweiatgithub commented on #97
Is there anything done about this?

[2019-07-13 10:32] keshrath commented on #97
The context menu only works for single files. Only think which works for multiple files is drag and drop as well as the delete button.

[2019-07-13 10:34] keshrath commented on #97
I have plans to support multi files for https://github.com/muk-it/muk_dms/tree/12.0/muk_dms_actions but its not visible so far.

[2019-07-13 23:06] #97 closed, assigned to keshrath

[2019-07-15 11:11] ivbo opened #105 "error with multiple files upload"
It is really supported multiple files upload ?
I tried to upload multiple files but everytime only one file was uploaded ...

In log file I found following errors:

[code]

[2019-07-15 11:15] keshrath commented on #105
Can you give me more information: steps to reproduce? Odoo version?

[2019-07-15 11:43] ivbo commented on #105
odoo version 11 on ubuntu 18.04, with latest  muk_dms, muk_base and muk_base...

scenario A to upload 2  files:
- I choose "Upload" action on folder
- I drop  files to "Drop files here to upload" area ...
- I see list of files for upload
- I  click to "Upload" button
- the last file was uploaded   /if I try 3 or more files it is same , only the last file was uploaded /
- in log file I see displaye

[2019-07-15 13:01] Kerrim- commented on #105
I managed to recreate the bug.

While I try to debug this you can use the drag and drop functionality of the tree view. That should work despite this bug (just tested it).

[2019-07-15 13:35] ivbo commented on #105
yes,  it works with much better results for many files (I tried folders with differents number of files up to 12 ..),  but sometimes do not upload 2 or 3 files   too ...  (especially if have  6 and more files ...)

[2019-07-16 09:58] fnguena opened #106 "bug odoo12: i have install muk_dms but when i install muk_dms_view, i can not open muk_dms"
Hello, i have this bug when i install muk_dms_view. error below....
![error](https://user-images.githubusercontent.com/12985085/61285224-6f9ea600-a7b8-11e9-97e5-85ad3a7f545b.png)

[2019-07-16 10:13] keshrath commented on #106
Javascript error messages without debug mode (?debug=assets) are unfortunately not sufficient to make any kind of interpretation.

[2019-07-16 10:26] fnguena commented on #106
when i activate this mode : ?debug=assets no link works
you have an email ? I send access to a database

[2019-07-16 10:34] keshrath commented on #106
Do you see an error in your browser console?

[2019-07-16 10:39] fnguena commented on #106
error in console
![error](https://user-images.githubusercontent.com/12985085/61288112-5ef12e80-a7be-11e9-8a9c-ccd85326cfdc.png)

[2019-07-16 10:58] keshrath commented on #106
web.bootstrap.extension is the problem

[2019-07-16 10:59] keshrath commented on #106
I don't think this is dms related

[2019-07-16 11:43] fnguena commented on #106
OK thanks, and please how can i solve it...

[2019-07-16 15:20] keshrath commented on #106
I still dont know the error:

![image](https://user-images.githubusercontent.com/4851083/61307127-0b96d480-a7ee-11e9-985c-ed0485f0ab89.png)

[2019-07-16 21:17] fnguena commented on #106
Thank, i have solve the bug...
the problem came from the unversioned lib folder

[2019-07-16 22:14] #106 closed, assigned to keshrath

[2019-07-26 14:09] alxrac opened #107 "Muk Document access rights"
Hello,

I've installed Muk Documents for Odoo 11 and I get the following issues:
-can't save general settings(it does not keep the saved settins)
-can't give access rights to different users,I've created groups and gave only read access to a folder,added the user but it doesn't work,the user still has writes privilegies

Thank you for your time.
Best regards.

[2019-08-04 17:42] movahhed opened #108 "document sub menu not show in dms"
hi dear
cant see tree view in muk dms  please help me
![Untitled](https://user-images.githubusercontent.com/27208274/62427218-d1419880-b704-11e9-92ba-b3dd9b40421f.jpg)
](url)

[2019-08-04 19:28] keshrath commented on #108
I don't understand the problem on the basis of the information. You may have to create a file to see one.

[2019-08-04 19:52] movahhed commented on #108
![Screenshot_20190805-002158](https://user-images.githubusercontent.com/27208274/62428426-179ff300-b717-11e9-9f5c-736590c38cdd.jpg)
Tree view similar this

[2019-08-04 19:53] keshrath commented on #108
https://github.com/muk-it/muk_dms/tree/12.0/muk_dms_view

[2019-08-04 19:53] #108 closed, assigned to keshrath

[2019-08-05 04:51] sopizet commented on #107
Hello, same here cannot save settings, tried to add group, admin...

Maybe a problem here:

Views created (install)
* INHERIT muk_dms_assets (qweb)
* INHERIT muk_dms_directory.form (form)
* INHERIT res.config.settings.view.form.inherit.muk_dms (form)
muk_dms_category.tree (tree)
muk_dms_data_database.tree (tree)..........

Best regards
Nicolas

[2019-08-05 06:32] movahhed opened #109 "not show pdf preview"
hi dear
![Untitled](https://user-images.githubusercontent.com/27208274/62443584-7fcef300-b770-11e9-9aa3-072ac85878ff.png)

[2019-08-05 06:36] keshrath commented on #109
I need more information about that issue.

[2019-08-07 08:22] smaryam opened #110 "could not find client action"muk_dms_views.documents""

[2019-08-08 20:50] #109 closed, assigned to keshrath

[2019-08-08 21:12] agcopley opened #111 "Error on Search for Odoo v11 Community"
Hi there,

Before anything, many thanks for the great work! I bought one of your paid modules to help out.
I am getting an error on entering text in the search bar on the documents page..Hope you can help

Andrew

Error:
Uncaught TypeError: Cannot read property 'odoo_id' of undefined

http://157.230.169.143:8069/muk_dms/static/src/js/views/documents/dms_documents_base_model.js:298
Rastreo de error

[2019-08-12 16:46] movahhed opened #112 "error "A directory has to be defined. ""
hi dear when change attachment storage location in "file" show me error "A directory has to be defined. " please heslp me
![Untitled](https://user-images.githubusercontent.com/27208274/62882047-4f75ee80-bd46-11e9-8edb-113e1164c649.png)

[2019-08-12 16:47] keshrath commented on #112
As the warning says you have to save first.

[2019-08-12 16:49] movahhed commented on #112
I do but not work

[2019-08-12 16:50] keshrath commented on #112
change it do documents and select a direcotry afterwards switch back to file and hit save

[2019-08-12 17:06] movahhed commented on #112
dear keshrath
dont allow change do document! when change and saved show error" A directory has to be defined. "
please tel me how to reset defult

[2019-08-12 17:08] keshrath commented on #112
![image](https://user-images.githubusercontent.com/4851083/62883538-8e02ad80-bd34-11e9-97f0-1707d0fed5b1.png)

[2019-08-12 17:10] movahhed commented on #112
I do that but repead show error

[2019-08-12 17:12] movahhed commented on #112
Maybe I should install these"Documents Storage Rules" and "Attachment Rule Automation"?

[2019-08-12 17:15] movahhed commented on #112
I've done this but there is still a problem.

[2019-08-12 17:20] movahhed commented on #112
Or enable developer mode

[2019-08-13 17:16] jbulbule commented on #110
I installed this module on my localhost Odoo V11 CE. Installation was successful for the main and all submodules. But, when I get into "Document" module I get an error on clicking the "Document" menu there. Error: "Action Error - Could not find client action 'muk_dms_views.documents". What could I have done wrong?

As suggested on apps.odoo.com, I also tried with cleaning the browser cache and res

[2019-08-13 18:29] keshrath commented on #110
Check if Odoo has the correct access right on the OS for the addons folder.

[2019-08-13 19:16] jbulbule commented on #110
Nope! Access rights solution didn't work. My addons is in /opt/odoo/odoo11/addons/ and I gave accesses as below -

chmod -R 777 /op/odoo/
chown -R odoo: /opt/odoo/

[2019-08-22 08:49] kalmat48 commented on #110
Hello,
I have a same problem as jbulbule.
I've configured a fresh instance of Odoo 11ce on debian machine and added muk.dms module
from odoo apps site. Everything works fine, but when I click on Document menu I get the same
error: "Action Error - Could not find client action 'muk_dms_views.documents".

Access rights are OK, so I tried another thing. I configured Odoo 11ce on my local Ubuntu
machin

[2019-08-23 09:56] bennals commented on #110
@jbulbule @kalmat48 @keshrath @Kerrim-

I was having this exact same problem after recently doing a complete update of all the muk modules I have installed (Ubuntu 16.04, Odoo V11 CE).

I happened to have a test server which had most of the modules updated (but didn't get the full update treatment) and it wasn't displaying this error.

I discovered that I had version 11.0.2.0.17 of muk_web_utils i

[2019-08-23 13:24] leangjia opened #114 "An error occurred"
[https://github.com/leangjia/img/blob/master/An%20error%20occurred.png](url)

[2019-08-23 13:25] leangjia commented on #114
An error occurred
We're sorry, but for some reason we can't open this for you.
Learn more
[https://r.office.microsoft.com/r/rlidowaviewhelp](url)

[2019-08-28 20:37] agcopley commented on #111
Ok, nothing happening here. Anyone else come across a solution for this?

[2019-08-28 21:49] keshrath commented on #111
@Kerrim- Have you been able to reproduce this error?

[2019-09-01 18:26] jiangweiatgithub commented on #97
Any news?

[2019-09-03 07:05] kalmat48 commented on #110
Thank you @bennals!

I've downloaded muk_web branch 11.0.2.0.17, restarted the server
and the tree view on 'Documents' menu is working.

@jbulbule try this solution!

[2019-09-04 20:41] miguelsilvazup opened #115 "Interaction with Website App"
I am using the Website app to create a panel for some Portal Users. A few icons must be linked to specific directories, allowing them to access the files. There are two different sorts of access:

1. an icon must connect to a common directory everyone will have access;
2. other two icons will connect to specific directories (names: Forponto and Certificates) inside the specific user directories.

[2019-09-04 20:49] keshrath commented on #115
The DMS in its current form has no portal integration. This is on our roadmap but I can't tell you when it will happen.

[2019-09-05 02:20] phoenixdataforensics opened #116 "Documents won't open at all."
I just installed Documents and its various file viewers, and it gives this error message when I try to open the documents app.

Error:
Uncaught TypeError: Cannot read property 'find' of undefined

http://phoenixdataforensics.com/web/content/806-10677d2/web.assets_common.js:3677
Traceback:
TypeError: Cannot read property 'find' of undefined
    at Class.$ (http://phoenixdataforensics.com/web/conten

[2019-09-05 07:32] keshrath commented on #116
Are you using Odoo 11.0 or 12.?

[2019-09-05 15:40] phoenixdataforensics commented on #116
I'm using Odoo 12.

On Thu, Sep 5, 2019, 12:32 AM Mathias Markl <notifications@github.com>
wrote:

[2019-09-06 19:36] LucianoCM75 commented on #110
Prezados, boa tarde...

Onde posso baixar essa versão do muk_web branch 11.0.2.0.17? Pois no site da Odoo não encontrei!!

Where can I download this version of muk_web branch 11.0.2.0.17? Because on Odoo's website I didn't find it !!

[2019-09-07 00:39] bennals commented on #110
Use the "History" button and then the "<>" button to browse the repository at a point in time when muk_web_utils was at version 11.0.2.0.17.

https://github.com/muk-it/muk_web/tree/72c336d7d8b05058c8285c72d9888901bfc7373c

[2019-09-07 00:44] keshrath commented on #110
@Kerrim- Please can you check what has gone wrong between 17 and 19?

[2019-09-07 04:11] phoenixdataforensics commented on #116
Any help?

[2019-09-07 08:48] keshrath commented on #116
The error you posted only show the trance in minified js files. You need to reproduce it in debug mode with assets, so I can see wich line of code throws the error.

[2019-09-09 15:51] LucianoCM75 commented on #110
Prezados, boa tarde...

Vocês sabem onde fica para baixar o ADD "muk_web branch" para a versão também do Odoo 10 e da versão Odoo 12, que também não apresentem esse erro?

Dear, good afternoon ...

Do you know where it is to download the "muk_web branch" ADD for the Odoo 10 and Odoo 12 versions as well, which also do not have this error?

[2019-09-11 20:29] LucianoCM75 commented on #110
Prezados, boa tarde...

Como faço para atualizar minha versão do Odoo 10 para o Odoo 11ou 12 no windows 10?

Dear, good afternoon ...

How do I upgrade my version of Odoo 10 to Odoo 11or 12 on windows 10?

[2019-09-11 20:32] LucianoCM75 commented on #110
Eu consigo usar o OpenUpgrade no windows 10?

Can I use OpenUpgrade on windows 10?

[2019-09-12 09:28] sarwanindotech opened #117 "Validation Error When Making New Root Directory"
I'm new to Odoo Community 12 and have just trying MuK Documents, but every time I want to create a new root directory there is always a popup says:

Error while validating constraint
The requested operation cannot be completed due to security restrictions. Please contact your system administrator.
(Document type: Directory, Operation: read) - (Records: [1], User: 2)
None

Hence i've could never up

[2019-09-14 02:03] LucianoCM75 commented on #73
Dear, I can not create directories with "muk_dms" in Odoo 12, presents the following and message:
Error validating a constraint

The requested operation cannot be completed due to security restrictions. Please contact your system administrator.

(Document Type: Directory, Operation: read) - (Records: [19], User: 2)
None

[2019-09-18 08:05] sarwanindotech commented on #117
Solved by going super user

[2019-09-18 08:05] #117 closed, assigned to nobody

[2019-10-04 08:17] sebastienhasa opened #119 "[Feature request] Add ability to reorder root directories"
Actually, root directories order seems to be date of creation. But there
is no possibility to modify this order. It would be useful to add a
reorder feature.

[2019-10-07 09:56] jaa-odoo commented on #111
Hello I am getting this same error in odoo 11 community version that issues is fixed in odoo 12
https://github.com/muk-it/muk_dms/blob/11.0/muk_dms/static/src/js/views/documents/dms_documents_base_controller.js#L253-L266
Please change this method like below

[code]
and it will woks
Thanks

[2019-11-05 21:34] spacimek opened #120 "[11.0] [muk_dms_export] certificate verify failed for iap-converter website"
Your muk_dms_export module is referencing https://iap-converter.mukit.at/iap/converter/1/formats

However that website:
1) Has invalid certificate (needs renewal)
2) Returns default backend - 404

I am using:
odoo11-addon-muk-web-export-11.0.1.0.7
odoo11-addon-muk-dms-export-11.0.1.0.1

This is the log:
 odoo.addons.iap.models.iap: iap jsonrpc https://iap-converter.mukit.at/iap/converter/1/formats

[2019-11-12 04:02] anhvu-sg opened #121 "[12.0] Error when clicking on Subdirectories"
Hello,

I have this error when clicking on button Subdirectories

![image](https://user-images.githubusercontent.com/7898318/68640924-be2c3900-053b-11ea-84e5-a89ec8a3f2d3.png)

![image](https://user-images.githubusercontent.com/7898318/68640936-cab09180-053b-11ea-9682-161d16a10ac3.png)

[code]

Can you please help me check?

Regards,

[2019-11-19 14:25] krutarth-tus opened #122 "[11.0] muk_dms : Error from JavaScript while clicking on Main Document menu."
I have installed the muk_dms module along with its all depending modules.
While clicking on the Document menu, I am getting the following error. Uncaught ReferenceError: params is not defined.

It is coming from dms_documents_base_view.js:81.

Can you please let me know if I have done something wrong while installation or how can I overcome this issue?
![Screenshot from 2019-11-19 19-54-32](https:

[2019-11-21 21:26] undigo commented on #116
Odoo V11 community version
only error on doc and docx viewer (black screen during ~30 seconds) then this error:
`PDF.js v1.7.225 (identifiant de compilation : 17d135f)
Message : Unexpected server response (502) while retrieving PDF "https://PRIVATE.com/web/preview/msoffice?url=%2Fweb%2Fcontent%3Fmodel%3Dmuk_dms.file%26filename%3Dmodele_lettre_dintention_def_27.12.2018_en_final.docx%26filename_fiel

[2019-11-26 15:42] dunxiangyu commented on #122
Has this problem been solved? I also have this problem, and I haven't found the reason yet.

[2019-11-27 09:35] kiark opened #123 "(Help) path_names content_file"
Hi there, i need some help/explanation about module fields. I'm using dms with filestorage, and i made a server action (operation) where i try to read the file and do something else. When i debug the server action i can see the fields, but the content_file key show the content of the file, path_names show the virtual path... ok but how can retrieve the phisical path?
Thank you

[2019-12-06 12:59] pradhanashwin opened #124 "Unable to hide searchpanel dynamically"
I want to hide the contents of searchpanel based on context. I added invisible attribute based on context on searchpanel tag (and in each fields inside searchpanel) which didn't work. The code I tried was:
`invisible="context.get('default_res_model',False)"`

[2019-12-09 10:32] pedrobaeza opened #125 "Move to OCA?"
Hello, have you thought about moving this under OCA umbrella? I think you are already used to Odoo + OCA ecosystem, so it's not needed to tell you about the advantages, but let me know if you have any fear or doubt about that.

[2019-12-11 10:10] itlabsrl-cyber opened #126 "MUK DMS Error"
Hello I have a fresh odoo 11 installation

when i click on menu Documents i have this error

Uncaught ReferenceError: params is not defined

http://ierp.itlabsrl.it/web/content/332-781b52b/web.assets_backend.js:2956
Traceback:
ReferenceError: params is not defined
    at Class.init (http://ierp.itlabsrl.it/web/content/332-781b52b/web.assets_backend.js:2956:124)
    at Class.init (http://ierp.itlab

[2019-12-18 09:03] pradhanashwin commented on #124
@keshrath what is the status of this issue?

[2019-12-19 07:53] pradhanashwin opened #127 "How to dynamically make the path_json unclickable"
I want to make the path of directory below the File name unclickable based on certain domain.Could you tell me how?

[2019-12-22 16:35] keshrath commented on #125
Hello,

honestly, we've never really thought about it. Probably because we've started this project before we knew about the OCA ecosystem.

In the meanwhile we got familiar with the OCA and it would definitely be an interesting discussion that we should have internally. But I am not sure if this step would be the right one for us at the moment.

Two possible problems I see for us are on the one ha

[2019-12-22 22:17] keshrath commented on #127
Well, for that you will have to overwrite the widget. You can find the code for the widget here: https://github.com/muk-it/muk_web/blob/12.0/muk_web_utils/static/src/js/fields/path.js

[2019-12-22 22:17] #127 closed, assigned to keshrath

[2019-12-22 23:41] #115 closed, assigned to keshrath

[2019-12-22 23:47] keshrath commented on #126
Please reproduce this error while in debug mode with assets otherwise the log can't be debugged.

[2019-12-23 11:54] pedrobaeza commented on #125
Hi, Mathias, thanks for answering!

Great to know that there's a possibility of moving it.

About the license, you don't have to worry: you can keep LGPL. OCA doesn't enforce to use AGPL. Most of the OCA developments are AGPL because developers choose to use that one for the maximum "openness", but OCA allows several open source license. See the section "Licenses & CLA" in https://odoo-community.o

[2019-12-24 03:18] osboer commented on #126
Hello I had the same problem

 odoo 11

Uncaught ReferenceError: params is not defined
http://127.0.0.1:8069/web/content/749-d79a07e/web.assets_backend.js:3075
Traceback:
ReferenceError: params is not defined
    at Class.init (http://127.0.0.1:8069/web/content/749-d79a07e/web.assets_backend.js:3075:124)
    at Class.init (http://127.0.0.1:8069/web/content/749-d79a07e/web.assets_backend.js:3082:10

[2019-12-24 08:20] pradhanashwin opened #128 "how to add access group from directory's create function?"
i am trying to add access group of muk_security.access_groups in create function of Directory based on some condition but it raises error
[code]
I already added access in ir.model.access.csv in muk_security/security/ but it didn't work

[2019-12-30 18:15] jcchoquet commented on #126
I have the same problem after update module on Odoo V11.
My Customer is blocked...

[2019-12-30 19:59] keshrath commented on #126
https://github.com/muk-it/muk_dms/commit/596c4a31b1445a66f8253142c4ac41f74b9758c4

[2019-12-30 19:59] #126 closed, assigned to keshrath

[2019-12-31 07:14] jcchoquet commented on #126
Thanks for the correction!

[2020-01-02 06:40] pradhanashwin opened #129 "AttributeError: 'bool' object has no attribute 'split'"
When i try to add a line in file page of directory following error occurs
![Screenshot_2020-01-02 Screenshot from 2020-01-02 12-22-06 png (PNG Image, 2732 × 768 pixels) - Scaled (50%)](https://user-images.githubusercontent.com/25637301/71654631-ec1f4400-2d5a-11ea-8e7f-456aa612ecbb.png)

[code]

[2020-01-02 08:10] #128 closed, assigned to keshrath

[2020-01-10 00:19] #121 closed, assigned to keshrath

[2020-01-20 13:50] Slivi-sliv opened #131 "[12.0] muk_dms: Filestore"
Hi,
I recently installed MUK_DMS.
I have files stored in directories on the disk (on the server). I would now like to display these files and directories in the application. Is this possible?
Is it possible to set a location for Filestore and sync it?
Thank you.

[2020-01-30 12:27] pedrobaeza commented on #125
Hello, did you talk about this internally? Any decision?

[2020-02-09 13:11] Hashim-Khalid opened #133 "you not gonna upgarde this module to odoo 13!!! please"
it's binary value that return is wrong!!

[2020-02-09 13:13] Hashim-Khalid commented on #133
i tried myself but i couldn't

[2020-02-09 13:14] Hashim-Khalid commented on #133
the problem in mixins_thumbnail.py in custom_thumnail_meduim to be spacific!!
it's binary value that return nothing!!

[2020-02-13 12:40] Slivi-sliv commented on #131
Any suggestion?

[2020-02-14 11:33] keshrath commented on #131
Hello, no this is not the purpose of the muk_dms_file module. There is no bidirectional sync.

[2020-02-14 11:33] #131 closed, assigned to nobody

[2020-02-19 07:59] pradhanashwin commented on #133
@Hashim-Khalid  did you figure out why the thumnails for files in kanban and form view doesn't appear? Or is it just for me that the issue is troubling me.

![screenshot-localhost_8069-2020 02 19-13_46_04](https://user-images.githubusercontent.com/25637301/74813922-429e0d00-531e-11ea-84a0-723895b7287b.png)

![screenshot-localhost_8069-2020 02 19-13_46_21](https://user-images.githubusercontent.com/

[2020-02-19 08:55] satriani-vai commented on #125
I see this as a good chance to get more manpower for your project without losing your interests. You will be very relieved and can better focus on commercial goals.  It would be a wise decision to join the OCA.

[2020-02-19 09:21] Hashim-Khalid commented on #133
i have this issue also and figure out that it comes from mixins_thumbnail.py file because it can't find it's path or maybe something else.
so if you find solution tell me please, i will be thankfull

[2020-02-19 09:23] Hashim-Khalid commented on #133
i have this issue also and figure out that it comes from mixins_thumbnail.py file because it can't find it's path or maybe something else.
so if you find solution tell me please, i will be thankfull

[2020-02-19 09:51] pradhanashwin commented on #133
i don't think mixins_thumbnail.py has the issue as the method  `_get_thumbnail_placeholder_image` is returning same binary as that of svg. I think JS file is messing something

[2020-02-19 09:59] Hashim-Khalid commented on #133
i think also there is something wrong in js but what is wrong ??!!
i don't have any experience in odoo js so i couldn't figure out it!!!

[2020-02-19 10:01] Hashim-Khalid commented on #133
i have other problem with content field in form view, it's value doesn't appear after save.
do you have it?

[2020-02-24 19:43] pedrobaeza commented on #125
Sorry for insisting, but I think it's very interesting to merge efforts in a community DMS. Do you want me to make the PRs to OCA with your authorization?

[2020-02-27 08:54] habihabib commented on #126
Hello,

I have the same error. Could you please tell me how to fix it ?

Thanks

[2020-02-27 16:54] keshrath commented on #126
@habihabib are you using the newest version? This should be fixed. You might have to download DMS from Github.

[2020-02-27 16:59] habihabib commented on #126
Hello

Ok thank a lot

Best regards

Hicham ABI-HABIB
Consultant (HCM-CH)
t + 41 58 30 76807
hicham.abi-habib@isobar.com

Isobar  |  35 route des Jeunes  |  1227 Geneva  |  Switzerland
isobar.ch<http://isobar.com/ch/en> | facebook <https://www.facebook.com/isobarswitzerland/> |  linkedIn  <https://www.linkedin.com/company/isobar-switzerland> |  twitter<https://twitter.com/IsobarCH>

-------
The in

[2020-03-08 14:23] younismahsud opened #134 "Got the error when clicked on SubDirectories Smart button on Directory form view."
ERROR message:

`Error:
Odoo Server Error

Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/odoo/http.py", line 654, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/usr/lib/python3/dist-packages/odoo/http.py", line 312, in _handle_exception
    raise pycompat.reraise(type(exception), exception, sys.exc_info()[2])
  File "/usr/

[2020-03-08 15:24] #134 closed, assigned to nobody

[2020-03-08 15:24] younismahsud commented on #134
Reoslved

[2020-03-11 07:37] BanilSharma commented on #133
I am waiting for odoo13 version for MUK DMS please :)

[2020-03-18 12:22] Hashim-Khalid commented on #110
guys i have this problem in odoo 13 and muk_web branch 11.0.2.0.17 doesn't solve it

[2020-03-18 12:29] keshrath commented on #110
Odoo13 isn't support at the moment

[2020-03-18 12:29] #110 closed, assigned to Kerrim-

[2020-03-18 12:37] Hashim-Khalid commented on #133
waiting.......................

[2020-03-25 14:28] Hashim-Khalid opened #135 "anyone install muk_dms_view in odoo 13 and work will for him/her?"

[2020-03-26 16:32] pedrobaeza commented on #125
I hope all of you are OK in these hard days. This is only a friendly reminder to see if you have thought about this.

[2020-04-02 16:32] yucer opened #137 "[12.0] muk_dms_mail feature to import documents from email alias missing base64 encoding"
Document import via one email alias is failing for us with the current code.

This is what we have so far...

We did check the recent changes for all functions in the stack for the call down to [muk\_dms\_mail.directory.\_process\_message](https://github.com/muk-it/muk_dms/blob/1e6aa1008ad04e6d9acc9d49beb39d5874025044/muk_dms_mail/models/directory.py#L100), they seem to have no changes regarding t

[2020-04-02 18:52] #137 closed, assigned to nobody

[2020-04-03 15:20] HugoDelval opened #139 "Error installing module 'muk_dms' that depends on module 'muk_security'"
Hi,

I'm trying to install the Muk Documents (`muk_dms`) module by adding your repository to my addons.

![image](https://user-images.githubusercontent.com/9109308/78376617-dd9d2e80-75ce-11ea-916e-7f482d7e7311.png)

But I get an error, saying that the `module 'muk_dms' depends on module 'muk_security'`

![image](https://user-images.githubusercontent.com/9109308/78376676-f0176800-75ce-11ea-8817-c26

[2020-04-03 15:30] HugoDelval commented on #139
Ah! It looks like the module is available here: https://github.com/muk-it/muk_base/tree/12.0

If you want I'd be glad to open a PR explaining this in the README :)

[2020-04-06 14:15] #139 closed, assigned to nobody

[2020-04-14 08:04] dngster commented on #98
Hello, I have also encountered the same issue where the Connection is lost when I tried to upload files about the size of 1 mb.
File size up to 500 kb can be uploaded without any issues.

Not sure if the below error message corresponds to the same issue :
"Bad Request
<function DataSet.call_kw at 0x7f357e312510>, /web/dataset/call_kw/muk_dms.file/create: Function declared as capable of handling re

[2020-04-14 10:16] keshrath commented on #98
Can you tell me which upload fails?

[2020-04-14 13:33] dngster commented on #98
I have tried docx and pdf file format that are only 1.2mb and 1.9mb yet it failed to upload.
I have just tried creating a docx file that only contains dummy lorem ipsum text at 5.2mb and it fails to upload, showing the same connection lost error message.
It seems that any file upload of 1.0 mb and above would fail.

[2020-04-14 13:51] keshrath commented on #98
I mean which view and button. So I can reproduce the steps you took.

[2020-04-14 14:17] dngster commented on #98
![Files_Drag_and_Drop](https://user-images.githubusercontent.com/15981974/79234997-a0be1b00-7e9d-11ea-9d15-41a4b6e337b2.png)
![Files_Manual_Create_Upload](https://user-images.githubusercontent.com/15981974/79235005-a3207500-7e9d-11ea-9ce8-9d9e093f3bce.png)
please see attached screenshots. For both methods of uploading by Drag and Drop and Manually uploading the files using the "Create" button, it

[2020-04-15 15:58] keshrath commented on #98
The 2. way of uploading uses the standard Odoo binary widget. So you should have the problem not only on the DMS. Might be the case that the problem is actually your web server and the limits set there.

[2020-04-16 18:10] DvlpSapin opened #140 "Error: Qweb2 Templete 'SearchPanel.Category' not found"
I need Help with this error, How can I solve that ?

Error:
Uncaught Error: QWeb2: Template 'SearchPanel.Category' not found

http://192.168.1.39:8069/web/content/338-6c357bb/web.assets_common.js:3374
Rastreo de error:
Error: QWeb2: Template 'SearchPanel.Category' not found
    at Object.exception (http://192.168.1.39:8069/web/content/338-6c357bb/web.assets_common.js:3374:7)
    at Engine._render

[2020-04-16 19:10] mbilal4m commented on #133
I'm waiting  for v13

[2020-05-06 10:35] guidoscha commented on #129
Error still exists. Same here

[2020-05-06 10:38] keshrath commented on #129
Please tell me the Odoo version.

[2020-05-06 10:57] guidoscha commented on #129
odoo 12

[2020-06-02 17:17] mileo commented on #125
Any updates? Our team is available to assist in the migration of these modules to the community.

[2020-06-02 17:26] pedrobaeza commented on #125
The move has been done for v13:

https://github.com/OCA/dms/pull/1

So we can close this.

[2020-06-02 17:26] #125 closed, assigned to keshrath

[2020-06-09 05:42] dngster commented on #98
@keshrath you are right. the issue was with the limits set on the web server. we have increased it and are able to upload larger file size now. thank you!

[2020-06-09 06:34] #98 closed, assigned to keshrath

[2020-06-09 11:46] joyinfo commented on #135
I ported it and got it working in https://github.com/joyinfo/muk_dms.
You also need addons from https://github.com/joyinfo/muk_base and https://github.com/joyinfo/muk_web.

[2020-06-09 11:47] joyinfo commented on #133
I ported it and got it working in https://github.com/joyinfo/muk_dms.
You also need addons from https://github.com/joyinfo/muk_base and https://github.com/joyinfo/muk_web.

[2020-06-09 11:49] joyinfo commented on #133
Can I submit pull request to this repository?

[2020-06-09 14:18] Nuraddin commented on #135
@joyinfo  Hello. How do you solve **muk_security** dependency in **muk_dms** ? Thanks

[2020-06-09 17:13] satriani-vai commented on #133
Why do you ask? Just do it and the devs decide.

[2020-06-10 04:20] joyinfo commented on #135
There are a lots of changes when porting muk_dms to Odoo 13.0, I do not remember it clearly how I solve **muk_security**. Can you check it by yourself in my repository?

[2020-06-10 04:32] joyinfo commented on #133
@satriani-vai thank you for answering. I am not familiar with the flow of github in this case.

Since this repository does not have a branch of 13.0 yet, can I submit a pull request to a branch not existing yet?

[2020-06-10 05:36] Nuraddin commented on #135
@joyinfo I have checked your repository, but really there is a problem. I couldn't install properly muk_dms, because it depends muk_security, but muk_security is not available in your all repository. Can you check it?

[2020-06-11 03:28] joyinfo commented on #135
@Nuraddin  Sorry, **muk_security** is missed in [https://github.com/joyinfo/muk_base](https://github.com/joyinfo/muk_base), I just added it. Please check again.

Thanks.

[2020-06-11 06:20] Nuraddin commented on #135
@joyinfo Hello. I have checked **muk_security**, and it is installed successfully. But there are another errors on installing other additional modules to **muk_dms** as **muk_dms_access**, **muk_dms_file**. I will try fix it by himself, if I couldn't fix, I will create issue on your repo :)
Thank you very much

[2020-06-11 09:13] keshrath commented on #135
Hello, we have decided to skip version 13. The reason for this is that with the introduction of OWL in version 14, a major migration is imminent and we will therefore only support version 14 again. But I'm happy to review a pull request from your migration to version 13, and if you need help with Git or Github I can help you as well.

[2020-06-11 09:35] Nuraddin commented on #135
@keshrath Hello, can you tell me when the release of version 14 odoo was planned? And your 14 version is approximately?

[2020-06-11 09:40] keshrath commented on #135
Well Odoo releases are normally in October, but I don't know if this is true for version 14.

[2020-06-11 09:41] Nuraddin commented on #135
@keshrath  Ok, thanks

[2020-06-15 07:34] joyinfo commented on #135
@keshrath I am not familiar with the flow of github in this case. Since this repository does not have a branch of 13.0 yet, can I submit a pull request to a branch not existing yet?

[2020-06-15 07:41] joyinfo commented on #135
![Screen Shot 2020-06-15 at 3 38 12 PM](https://user-images.githubusercontent.com/20535391/84630274-4b929a00-af1e-11ea-83e8-00e87444b0e6.png)

What will happy if I click the "Create pull request" button? Will it apply to create a 13.0 branch and merge all the changes to 13.0, or to the existing 12.0?

[2020-06-18 09:26] yweng8111 opened #143 "[12.0] muk_dms : Error by using action_dms_files_all_directory"
By using of action_dms_files_all_directory I will get following Error.
That error is in function search_panel_select_range(). It try to search the "mus_dms.directory" by using the "search_domain" of "mus_dms.file".

Traceback (most recent call last):
  File "/opt/odoo/lib/odoo/odoo/http.py", line 656, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/op

[2020-06-18 09:32] keshrath commented on #143
What did you click do get this error? So I can reproduce it.

[2020-06-18 12:31] yweng8111 commented on #143
You can reproduce it by following steps:
- Click Main Menu "Documents"
- Click Top Menu "Directories"
- Click One of the Directories in Kanban View
- Click Smartbutton "Files"

[2020-06-18 12:49] yweng8111 commented on #143
It works fine for me locally, if I delete this line
https://github.com/muk-it/muk_dms/blob/346b2d742696343ee025083604ee6fcb2050a65b/muk_dms/models/file.py#L266

[2020-06-19 11:12] mkanderson opened #144 "[12.0] muk_dms: Error when searching on root folder in Documents view"
**Description**: entering an arbitrary search string in the search field of the Documents view while a root directory is selected causes the following error:

`Error:
Uncaught TypeError: Cannot read property 'odoo_id' of undefined

https://demo12.mukit.at/web/content/1015-ba35e8a/web.assets_backend.js:4234
Traceback:
TypeError: Cannot read property 'odoo_id' of undefined
    at Class._searchNodes

[2020-06-23 17:23] Hashim-Khalid commented on #135
will you release it  for community also

[2020-07-09 14:47] renzo1974 commented on #105
Same error here when uploading multiple files with drag&drop.

Best to reproduce is to upload a bunch of PNG files. Then I get the following error almost every time:

[code]

When I upload other file types there are no errors, or only one error on 50 upload tasks.

[2020-08-01 14:11] reilco opened #146 "[12.0] muk_dms: Error when uploading large file"
When we tried to upload any file more than 2 mb, the server is down and we need to start it again every time.
I have installed the following: **muk_dms, muk_autovacuum, muk_dms_lboject, muk_fields_lobject, muk_security, muk_utils, muk_web_searchpanel, muk_web_utils**

Kindly your advice to solve this issue...

The error log in the pictures below:
![Screenshot from 2020-07-05 22-50-08](https://user

[2020-08-07 14:03] loredev10 commented on #139
https://github.com/muk-it/muk_dms/issues/135#issuecomment-641237761

[2020-08-08 09:25] reilco commented on #146
Anyone to help :(

[2020-09-10 13:17] marylla commented on #143
@keshrath Could you reproduce and in best case already solve this issue?

[2020-09-22 13:55] mkanderson opened #148 "[12.0] muk_dms_file Potential file corruption, unintended deletion on DB duplication, rename and restore"
**Description:** when 'Filestore Storage' is enabled, the full filesystem path to the documents is saved in the column 'muk_dms_file.content_file' with the following composition:
  `data_dir + "/files/" + **db_name** + md5prefix + md5hash`,
for instance:
 '/var/lib/odoo/files/**mydb**/e2/e28088cf2ca59192b6d7b73508c0dd8e7783be73'

This is the fully qualified filesystem path on the host server, incl

[2020-10-30 01:21] onedayonegroup opened #149 "How setting upload files size in odoo10 version . Now limit 25MB only."
How setting upload files size in odoo10 version . Now limit 25MB only.
I want to upload large files, but I don't know how to do it now。 please help. Thanks.

[2020-11-04 15:52] LeGueux opened #150 "[12.0] muk_dms: Error when clicking on files from a directory"
On a directory form view when i click on the button "Files", i have an error
![image](https://user-images.githubusercontent.com/25929171/98133613-1501ef80-1ebe-11eb-952e-a2e68d38cc64.png)

Error:
Odoo Server Error

Traceback (most recent call last):
  File "D:\ASR\Git\odooGitHub\odoo\odoo\http.py", line 656, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  Fi

[2020-11-16 21:08] JDSalcedo commented on #76
Thanks @keshrath for your amazing work, I already note that this issue is present in v13 too.

[2020-11-29 11:33] YasserSpeed opened #151 "Template 'DMSTreeView' not found"
Hello,

i have odoo 10 and i have error with MUK

Error: QWeb2: Template 'DMSTreeView' not found

http://localhost:8069/web/content/348-76b7a5d/web.assets_common.js:2908
Traceback:
exception@http://localhost:8069/web/content/348-76b7a5d/web.assets_common.js:2908:7
_render@http://localhost:8069/web/content/348-76b7a5d/web.assets_common.js:2953:103
render@http://localhost:8069/web/content/348-76b7a5

[2020-12-28 08:45] movahhed opened #152 "show error muk documnet"
hi when goto muk document show this error:
please help me
خطا:
Odoo Server Error

Traceback (most recent call last):
  File "/odoo/odoo-server/odoo/api.py", line 1049, in get
    value = self._data[key][field][record._ids[0]]
KeyError: 1

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/odoo/odoo-server/odoo/fields.py", line 1012, in

[2021-01-24 20:10] linhares-lima commented on #112
the same problem.

[2021-01-24 20:17] linhares-lima commented on #112
is there any fix to it ?! i need help.

[2021-02-21 13:31] NilmarShereef commented on #150
https://github.com/muk-it/muk_dms/blob/960676159a55e46715a2caeea8e5da560f40e363/muk_dms/models/file.py#L266

Line 266 in file.py

` kwargs.get('search_domain', []), `

Commenting this line will solve the mentioned issue.
Thank You

[2021-02-23 09:36] #150 closed, assigned to nobody

[2021-02-23 09:36] LeGueux commented on #150
Yes it solved this issue.

Thank you.

[2021-05-17 05:21] saeed-raeisi opened #153 "odoo 13 or 14"
Hi, Do you intend to develop and modify the current module for higher versions?

[2021-05-17 09:20] usmanfarzandali commented on #153
as per my knowledge Odoo OCA officially marge this module into their own Documentation management system.... latest updates you will find their....

Regards

[2021-05-25 19:11] flexkeller opened #154 "Error when create new directory - V13_0_201019_194252"
I can't edit existing directory-names.
And I can only create new directory-names when I create Subdirectories inside an existing directory.

when I try to create a new directory I get the following error:

_Something went wrong !
dms.directory(<NewId 0x7fa79f149a90>,).parent_id_

[2021-11-14 12:04] myat90thu commented on #143
https://user-images.githubusercontent.com/35619526/141680256-b70611dd-6c03-49a3-a3e5-4b44f9b8c1e2.mp4

Hi
I purchased from odoo store muk dms bundle and I face this issue. Please see my video for your reference and I also open a ticket in odoo store.

https://user-images.githubusercontent.com/35619526/141680201-fc7ecb77-ba77-4b31-b991-7a5d0a18d095.mp4
![Screenshot 2021-11-14 18:35:49](https://user

[2021-11-15 14:03] davidmonterocrespo24 commented on #153
I have migrated the modules to version 13, if someone wants to help me migrate them to 14 and 15 I could contact me. davidmonterocrespo24@gmail.com

https://github.com/davidmonterocrespo24/muk_dms

Thank you

[2021-11-15 14:04] davidmonterocrespo24 commented on #135
I have migrated the modules to version 13, if someone wants to help me migrate them to 14 and 15 I could contact me. davidmonterocrespo24@gmail.com

https://github.com/davidmonterocrespo24/muk_dms

Thank you

[2022-11-17 11:14] GSLabIt opened #155 "[12.0] muk_dms : res_config_settings view issue after last commit."
Hi there,

last commit on `muk_dms`: https://github.com/muk-it/muk_dms/commit/16b2547b5b0fa8d478f03a7b51a6130d05e44965, introduced an issue on `res_config_settings.xml` view:

https://github.com/muk-it/muk_dms/blob/16b2547b5b0fa8d478f03a7b51a6130d05e44965/muk_dms/views/res_config_settings.xml#L133-L143

`module_muk_archive` need to be changed into `module_muk_dms_archive` and maybe latest should b